<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/landing.css"> <!--  -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <title>Welcome to EATMI</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <%- include('common/common-starter', {}); %>

</head>

<%- include('common/header-en', {}); %>

    <body>
        <div class="sb-app">

            <!-- dynamic content -->
            <div id="sb-dynamic-content" class="sb-transition-fade">
                <!-- space below the bar -->
                <section class="sb-p-20-0">
                    <div class="container">
                        <div class="row flex-md-row-reverse">
                            <div class="col-lg-6 align-self-center sb-mb-40"></div>
                        </div>
                    </div>
                </section>
                <!-- space below the bar end -->

                <!-- About text -->
                <section class="sb-about-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="sb-ilustration-fix">
                                    <div class="sb-illustration-1-2"
                                        style="background-image:url(img/bg-vector.png); background-position:100%;">
                                        <img src="img/mobile-meella.png" alt="food" class="sb-food-3">
                                        <div class="sb-illu-dialog-1"><span>😋</span> Om-nom-nom...</div>
                                        <div class="sb-illu-dialog-2"><span>🥰</span> Sooooo delicious!</div>
                                        <div class="sb-cirkle-2"></div>
                                        <div class="sb-cirkle-3"></div>
                                        <div class="sb-cirkle-4"></div>
                                        <div class="sb-cirkle-5"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 align-self-center sb-mb-80" style="text-align: center;">
                                <h2 class="sb-mb-40" style="font-size:60px; margin-top: 60px;">Our story</h2>
                                <p class="sb-text sb-mb-30" style="font-size:26px;">Meella is a project founded under
                                    AIESEC
                                    in Chulalongkorn
                                    University. We are online food-discount offering platform Our goal is to solve
                                    leftover
                                    food ingredients issues and efficiently distribute the resource more equally to
                                    everyone.</p>
                                <div style="margin-left: 34%;">
                                    <ul class="row">
                                        <li>
                                            <a href="#."><img src="/icon/yellowbg-ig.png" alt="" width="60"
                                                    height="60" /></a>
                                        </li>
                                        <li>
                                            <a href="#." style="margin-left: 15px"><img src="/icon/yellowbg-fb.png"
                                                    alt="" width="60" height="60" /></a>
                                        </li>
                                        <li>
                                            <a href="#." style="margin-left: 15px"><img src="/icon/yellowbg-tw.png"
                                                    alt="" width="60" height="60" /></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- About text end -->

                <!-- About text -->
                <section class="sb-about-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 align-self-center sb-mb-60" style="text-align: center;">
                                <h2 class="sb-mb-40" style="font-size:60px; margin-top: 60px;">Food waste crisis in
                                    Bangkok
                                </h2>
                                <p class="sb-text sb-mb-30" style="font-size:26px;">With its beautiful Buddhist temples,
                                    vibrant culture and world-famous street food, Bangkok, Thailand is a tourist mecca.
                                    However, while the city attracts millions of visitors each year, it also faces a
                                    food
                                    waste problem. Uneaten food makes up 46 per cent of the nearly 10,000 tonnes of
                                    solid
                                    waste the city collects every day.
                                    Traditionally, most of the food waste ends up in landfills. Local authorities have
                                    invested in innovative solutions, such as central compost facilities and
                                    waste-to-energy
                                    plants.</p>
                            </div>
                            <div class="col-lg-6"
                                style="background-image:url(img/bg-vector2.png); background-position:100%;">
                                <div class="sb-illustration-1">
                                    <img src="img/mobile-2.png" alt="girl" class="sb-girl">
                                    <div class="sb-cirkle-1"></div>
                                    <div class="sb-cirkle-2"></div>
                                    <div class="sb-cirkle-3"></div>
                                    <div class="sb-cirkle-4"></div>
                                    <div class="sb-cirkle-5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- About text end -->

                <!-- About text -->
                <section class="sb-about-text sb-p-60-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 align-self-center"
                                style="background-image:url(img/bg-vector.png); background-position:100%;">
                                <div class="sb-illustration-2 sb-mb-40">
                                    <div class="sb-interior-frame">
                                        <img src="img/mobile-3.png" alt="interior" class="sb-interior"
                                            style="object-position: center">
                                    </div>
                                    <div class="sb-square"></div>
                                    <div class="sb-cirkle-1"></div>
                                    <div class="sb-cirkle-2"></div>
                                    <div class="sb-cirkle-3"></div>
                                    <div class="sb-cirkle-4"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 align-self-center sb-mb-60" style="text-align: center;">
                                <h2 class="sb-mb-40" style="font-size:60px;margin-top: 60px;">How Meella helps?</h2>
                                <p class="sb-text sb-mb-30" style="font-size:26px;">Meella is connecting food suppliers,
                                    namely restaurants and stores, who would usually have to dispose of their leftovers
                                    at
                                    the end of the day, with consumers who seek to purchase high-quality edibles at
                                    lower
                                    prices with the intention to take part in contributing to the food-waste crisis.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- About text end -->
            </div>


    </body>

    <%- include('common/footer-en', {}); %>
        <%- include('common/common-ender', {}); %>

</html>