<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/cookie_policy.css">
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans Thai Looped' rel='stylesheet'>

    <title>Cookies Policy</title>
    <style>
        body {
            background-image: url(/img/background.png);
            background-size: 100% 50%;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: bottom center;
            background-position-y: 1800px;
            margin: 0 auto;
        }
    </style>
</head>

<body>

    <div id="text">
        <section class="edit">
            <div class="container-fluid">
                <h4>นโยบายการใช้คุกกี้ (Cookies policy)</h4>
                <p>แก้ไขล่าสุดเมื่อวันที่ 20 เมษายน 2565</p>
            </div>
        </section>
        <section class="cookie">
            <div class="container-fluid">
                <h5>คุกกี้ (Cookies) คืออะไร?</h5>
                <div class="passage1">
                    <p>คุกกี้ คือ
                        ไฟล์ขนาดเล็กที่เก็บไว้บนเบราว์เซอร์ของผู้ใช้บริการหรือบนฮาร์ดไดร์ฟในคอมพิวเตอร์หรืออุปกรณ์มือถือของผู้ใช้บริการ
                        การใช้คุกกี้ไม่ได้จำกัดเพียงการใช้ในเว็บไซต์และเว็บเบราว์เซอร์ แต่แอปพลิเคชันบนโทรศัพท์มือถือ
                        ซึ่งโดยทั่วไปจะเชื่อมต่อกับเว็บไซต์
                        และบริการบนเว็บไซต์ก็สามารถสร้างคุกกี้ได้เช่นกัน คุกกี้ทำหน้าที่บันทึกข้อมูลและการตั้งค่าต่าง ๆ
                        เช่น
                        บันทึกข้อมูลการตั้งค่าภาษาในเบราว์เซอร์
                        บนอุปกรณ์ของผู้ใช้บริการ บันทึกสถานะการเข้าใช้งานในปัจจุบันของผู้ใช้บริการ
                        เพื่อช่วยให้ผู้ใช้บริการสามารถเข้าใช้งานเว็บไซต์ได้อย่างต่อเนื่อง
                        รวมถึงมีการรวบรวมข้อมูลเกี่ยวกับประวัติการเข้าชมเว็บไซต์ที่ผู้ใช้บริการชื่นชอบในรูปแบบไฟล์
                        โดยคุกกี้ไม่ได้ทำให้เกิดอันตรายต่ออุปกรณ์ของท่าน
                        และเนื้อหาในคุกกี้จะถูกเรียกออกมาดูหรืออ่านได้โดยเว็บไซต์ที่สร้างคุกกี้ดังกล่าวเท่านั้น</p>
                </div>
                <div class="passage2">
                    <p>ข้อมูลที่เราได้รับผ่านคุกกี้และเทคโนโลยีที่คล้ายคลึงกัน ในที่นี้ยังอาจรวมถึง IP address ของท่าน
                        รหัสโฆษณาบนมือถือของท่าน, ลักษณะของเบราว์เซอร์ของท่าน, ลักษณะอุปกรณ์, รหัสอุปกรณ์เฉพาะ,
                        ระบบปฏิบัติการ, การตั้งค่าภาษา, การอ้างอิง URL, บันทึกพฤติกรรมบนเว็บไซต์ของท่าน
                        อย่างเช่นเนื้อหาที่ผู้ใช้บริการเข้าชมหรือสนใจขณะที่ทำการเยี่ยมชมเว็บไซต์นั้น ๆ
                        รวมถึงวันที่และเวลาที่ผู้ใช้บริการเข้าถึงหรือใช้งานเว็บไซต์
                        ในการเชื่อมต่อแอพบนมือถือและแท็บเล็ตเราอาจใช้วิธีการอัตโนมัติที่คล้ายกันด้วย</p>
                </div>
            </div>

        </section>

        <section class="type">
            <div class="container-fluid">
                <h5>ประเภทของคุกกี้ที่เราใช้</h5>

                <div class="one">
                    <p><span style="font-weight:700">1. คุกกี้ที่จำเป็นอย่างยิ่ง (Strictly Necessary Cookies)</span> :
                        คุกกี้ประเภทนี้คือคุกกี้ที่จำเป็นต้องมี เพื่อให้ท่านสามารถเยี่ยมชมเว็บไซต์ของ Meella
                        ได้รวมถึงการให้บริการและฟังก์ชันต่าง ๆ บนเว็บไซต์ของ Meella
                        และเป็นคุกกี้ที่ช่วยให้ท่านสามารถเข้าสู่ระบบไปยังเว็บไซต์ที่ปลอดภัยได้ หากไม่มีคุกกี้ประเภทนี้
                        เว็บไซต์ของ Meella หรือบางฟังก์ชันบนเว็บไซต์อาจจะไม่สามารถทำงานได้ตามปกติ
                        รวมทั้งท่านจะไม่สามารถใช้บริการบางอย่างตามที่ร้องขอบนเว็บไซต์ของ Meella ได้
                    </p>
                </div>
                <div class="two">
                    <p><span style="font-weight: 700;">2. คุกกี้ที่เก็บข้อมูลการใช้งาน (Analytical/Performance
                            Cookies)</span> : คุกกี้ประเภทนี้จะเก็บรวบรวมข้อมูลการใช้งานของท่านบนเว็บไซต์ของ Meella เช่น
                        เว็บเพจที่ท่านเข้าชม เว็บเพจที่ท่านเข้าชมบ่อยที่สุด และลิงก์ที่ท่านอาจคลิกเข้าไปชม ทั้งนี้
                        คุกกี้ประเภทนี้จะไม่เก็บรวบรวมข้อมูลใด ๆ ที่สามารถระบุตัวตนของท่านได้
                        แต่จะอยู่ในลักษณะข้อมูลแบบรวมและไม่สามารถระบุตัวตนได้ Meella
                        ใช้คุกกี้ประเภทนี้เพื่อเข้าใจถึงวิธีการ
                        ที่ท่านใช้งานบริการออนไลน์และเว็บไซต์ของ Meella
                        และเพื่อพัฒนาการทำงานของเว็บไซต์และเพิ่มประสิทธิภาพในการให้บริการของ Meella</p>
                </div>
                <div class="three">
                    <p><span style="font-weight: 700;">3. คุกกี้ที่เพิ่มประสิทธิภาพในการใช้งาน (Functionality
                            Cookies)</span> : คุกกี้ประเภทนี้จะช่วยให้เว็บไซต์ของ
                        Meella จดจำข้อมูลหรือตัวเลือกที่ท่านได้กำหนดไว้แล้ว (เช่น ชื่อผู้เข้าใช้ ภาษา
                        หรือภูมิภาคที่ท่านอาศัยอยู่) และให้บริการที่เหมาะสมสำหรับท่านโดยเฉพาะ (เช่น
                        เว็บไซต์สามารถจดจำขนาดตัวอักษรได้) นอกจากนี้
                        คุกกี้ประเภทนี้ยังสามารถจดจำการตั้งค่าขนาดหรือรูปแบบตัวอักษร และส่วนอื่น ๆ
                        ของเว็บเพจที่ท่านสามารถตั้งค่าได้ คุกกี้ประเภทนี้อาจเก็บรวบรวมข้อมูลที่ไม่สามารถระบุตัวตนได้
                        และไม่สามารถติดตามกิจกรรมการเยี่ยมชมเว็บไซต์ของท่านบนเว็บไซต์อื่น ๆ ได้</p>
                </div>
                <div class="four">
                    <p><span style="font-weight: 700;">4. คุกกี้เพื่อการกำหนดเป้าหมายหรือเพื่อการโฆษณา (Advertising
                            Cookies)</span> :
                        คุกกี้ประเภทนี้จะจดจำการตั้งค่าของท่านในการเข้าใช้งานหน้าเว็บไซต์ และนำไปใช้เพื่อให้ Meella
                        สามารถนำเสนอโฆษณาที่เกี่ยวข้องและตรงกับความสนใจของท่านมากยิ่งขึ้น
                        และเพื่อจำกัดจำนวนครั้งที่ท่านจะได้รับโฆษณาทั่วไป รวมถึงช่วยตรวจสอบประสิทธิภาพของแคมเปญโฆษณาของ
                        Meella คุกกี้ประเภทนี้จะถูกใช้งานโดยเครือข่ายสื่อโฆษณา (เช่น Facebook, Google และอื่น ๆ)
                        โดยได้รับอนุญาตจาก Meella และจะจดจำวิธีการที่ท่านเยี่ยมชมเว็บไซต์ของ Meella และ Meella
                        อาจเปิดเผยข้อมูลนี้ให้แก่บุคคลอื่น ๆ เช่น ผู้ให้บริการสื่อโฆษณา ทั้งนี้
                        คุกกี้ประเภทนี้มักจะเชื่อมโยงไปยังเว็บไซต์ที่ให้บริการโดยบุคคลอื่น ในกรณีที่ Meella
                        ใช้คุกกี้ประเภทนี้ในการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของท่าน Meella
                        จะขอความยินยอมจากท่านหรือดำเนินการตามที่กฎหมายคุ้มครองข้อมูลส่วนบุคคลกำหนด</p>
                </div>
                <p>ในการใช้บริการเว็บไซต์ของ Meella ท่านรับทราบว่า Meella จะมีการใช้งานคุกกี้ประเภทต่าง ๆ
                    เพื่อวัตถุประสงค์ตามที่ระบุไว้ข้างต้น และ Meella อาจเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของท่าน
                    ซึ่งเป็นส่วนหนึ่งของคุกกี้ดังกล่าว<br>
                    เพื่อวัตถุประสงค์ตามที่ระบุไว้ใน <a href="#">ประกาศนโยบายความเป็นส่วนตัวของ Meella</a></p>
            </div>
        </section>

        <section class="manage">
            <div class="container-fluid">
                <h5>การจัดการคุกกี้</h5>
                <p>ท่านสามารถตั้งค่ามิให้เบราว์เซอร์ (Browser) ของท่านตกลงรับคุกกี้ของเราได้
                    โดยมีขั้นตอนในการจัดการคุกกี้
                    ดังนี้</p>
                <ul>
                    <li style="position: relative;left: 107px;top: 559px; list-style-type: disc; "><a
                            href="https://support.google.com/chrome/answer/95647?hl=th&ref_topic=14666"><span>สำหรับ
                                Chrome</span></a>
                    </li>
                    <li style="position: relative;left: 107px;top: 599px; list-style-type: disc;"><a
                            href="https://support.apple.com/th-th/guide/safari/sfri11471/mac"><span>สำหรับ Safari และ
                                IOS</span></a>
                    </li>
                    <li style="position: relative;left: 107px;top: 639px; list-style-type: disc;"><a
                            href="https://support.mozilla.org/th/kb/%E0%B8%84%E0%B8%B8%E0%B8%81%E0%B8%81%E0%B8%B5%E0%B9%89-%E0%B8%82%E0%B9%89%E0%B8%AD%E0%B8%A1%E0%B8%B9%E0%B8%A5%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B9%80%E0%B8%A7%E0%B9%87%E0%B8%9A%E0%B9%84%E0%B8%8B%E0%B8%95%E0%B9%8C%E0%B8%88%E0%B8%B1%E0%B8%94%E0%B9%80%E0%B8%81%E0%B9%87%E0%B8%9A%E0%B8%9A%E0%B8%99%E0%B8%84%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%B4%E0%B8%A7%E0%B9%80%E0%B8%95%E0%B8%AD%E0%B8%A3%E0%B9%8C%E0%B8%82%E0%B8%AD%E0%B8%87%E0%B8%84%E0%B8%B8%E0%B8%93?redirectlocale=en-US&redirectslug=Cookies">
                            <span>สำหรับ Firefox</span></a>
                    </li>
                    <li style="position: relative;left: 107px;top: 679px; list-style-type: disc;"><a
                            href="https://support.microsoft.com/th-th/windows/%E0%B8%A5%E0%B8%9A%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%88%E0%B8%B1%E0%B8%94%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%84%E0%B8%B8%E0%B8%81%E0%B8%81%E0%B8%B5%E0%B9%89-168dab11-0753-043d-7c16-ede5947fc64d">
                            <span>สำหรับ Internet Explorer</span>
                        </a></li>

                </ul>
            </div>
        </section>
        <section class="policy">
            <div class="container-fluid">
                <h5>นโยบายคุ้มครองข้อมูลส่วนบุคคลของเว็บไซต์อื่น</h5>
                <p>ประกาศนโยบายความเป็นส่วนตัวฉบับนี้ใช้เฉพาะสำหรับการให้บริการของเราและการใช้งานเว็บไซต์ของเราเท่านั้น
                    หากท่านได้กดลิงก์ไปยังเว็บไซต์อื่น ถึงแม้จะผ่านช่องทางในเว็บไซต์ของเราก็ตาม
                    โปรดทราบว่าท่านจะต้องศึกษาและปฏิบัติตามนโยบายความเป็นส่วนตัวที่ปรากฏบนเว็บไซต์นั้น ๆ
                    รวมถึงอ่านนโยบายการใช้คุกกี้ของบุคคลดังกล่าวแยกต่างหากจากของ Meella</p>
            </div>
        </section>
    </div>




</body>

</html>