<!DOCTYPE html>
<html>

<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forgot.css">
    <link rel="stylesheet" href="/css/font.css">
</head>

<body>
    <div class="container">
        <div class="pic">
            <img src="/img/Rectangle 1382.png" alt="Rectangle 1382">
            <img src="/img/Rectangle 1384.png" alt="Rectangle 1384">
            <img src="/img/Vector lock.png" alt="Vector lock">
            <img src="/img/25496 1.png" alt="lock">
        </div>
        <div class="content">
            <h2>Forgot your password?</h2>
            <p>No worries, send us your email here. We will send<br> you a verification code.</p>
        </div>
        <form action="" method="post">
            <label>Email</label>
            <div class="txt_field_email">
                <input type="text_email">
            </div>
            <input type="submit" class="btn solid" value="Submit">
        </form>


    </div>
</body>

</html>