<!DOCTYPE html>
<html>

<head>
    <title>my coupon</title>
    <style>
        body {
            display: block;
            background-image: url(img/figma/Vector4.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position-y: 500px;
            margin: 0 auto;
            z-index: -1;
            overflow-x: hidden;
        }
    </style>
    <link rel="stylesheet" href="/css/no_account.css_lists/body.css">
    <link rel="stylesheet" href="/css/no_account.css_lists/header.css">
    <link rel="stylesheet" href="/css/no_account.css_lists/style.css">
    <link rel="stylesheet" href="/css/no_account.css_lists/footer.css">
    <link rel="stylesheet" href="/css/all.css">
</head>

<body>
    <header class="header, header_shade">
        <div class="left_taskbar">
            <a href="#.html">
                <img src="img/figma/meella_logo.png" class="meella_logo">
            </a>
            <div class="shop_text">Shop</div>
            <div class="my_account_text">My Account<arrow1 class="fa-regular fa-angle-down"></arrow1>
            </div>
            <div class="select-box1">
                <div class="options-container1">
                    <div class="option1">
                        <input type="radio" class="radio" id="my_profile" name="category" />
                        <label for="my_profile">My Profile</label>
                    </div>

                    <div class="option1">
                        <input type="radio" class="radio" id="my_coupon" name="category" />
                        <label for="my_coupon">My Coupon</label>
                    </div>

                    <div class="option1">
                        <input type="radio" class="radio" id="order_history" name="category" />
                        <label for="order_history">Order History</label>
                    </div>
                </div>

                <div class="option1">
                    <input type="radio" class="radio" id="my_coupon" name="category" />
                    <label for="my_coupon">My Coupon</label>
                </div>

                <div class="option1">
                    <input type="radio" class="radio" id="order_history" name="category" />
                    <label for="order_history">Order History</label>
                </div>
            </div>
        </div>
        <div class="our_story_text">Our Story<arrow2 class="fa-regular fa-angle-down"></arrow2>
        </div>
        <div class="select-box2">
            <div class="options-container2">
                <div class="option2">
                    <input type="radio" class="radio" id="partner" name="category" />
                    <label for="partner">Partner</label>
                </div>

                <div class="option2">
                    <input type="radio" class="radio" id="about_eatmi" name="category" />
                    <label for="about_eatmi">About Eatmi</label>
                </div>

                <div class="option2">
                    <input type="radio" class="radio" id="sustain" name="category" />
                    <label for="sustain">Sustainability Journey</label>
                </div>
                </a>
                <a href="#.html" target="_blank">
                    <button class="sign_up_button">
                        <div class="sign_up_text">name</div>
                    </button>
                </a>
                <a href="my coupon (ไทย).html">
                    <div class="Eng_Thai">EN/TH</div>
                </a>
            </div>
    </header>
    <div class="coupon_group">
        <div class="my_coupon_text">My coupon</div>
        <div class="my_coupon_list1">
            <img src="img/figma/food.png" class="coupon_food">
            <button class="show_location_button">
                <div class="show_location_text">Show location</div>
            </button>
            <button class="use_coupon_button">
                <div class="use_coupon_text">Use coupons</div>
            </button>
            <div class="bill_text3">menu by restaurant
                <div>address
                    <div>expired date: dd/mm/yy</div>
                </div>
            </div>
        </div>
        <div class="my_coupon_list2">
            <img src="img/figma/food.png" class="coupon_food">
            <button class="show_location_button">
                <div class="show_location_text">Show location</div>
            </button>
            <button class="use_coupon_button">
                <div class="use_coupon_text">Use coupons</div>
            </button>
            <div class="bill_text3">menu by restaurant
                <div>address
                    <div>expired date: dd/mm/yy</div>
                </div>
            </div>
        </div>
        <div class="my_coupon_list3">
            <img src="img/figma/food.png" class="coupon_food">
            <button class="show_location_button">
                <div class="show_location_text">Show location</div>
            </button>
            <button class="use_coupon_button">
                <div class="use_coupon_text">Use coupons</div>
            </button>
            <div class="bill_text3">menu by restaurant
                <div>address
                    <div>expired date: dd/mm/yy</div>
                </div>
            </div>
        </div>
        <button class="show_coupon_button">
            <div class="show_coupon_text">Show more coupons</div>
        </button>
    </div>
    <footer class="footer4">
        <img src="img/figma/AIESEC.png" class="AIESEC">
        <div class="taskbar_box">
            <div class="first_taskbar">
                <our_story>OUR STORY</our_story>
                <a href="#.html" target="_blank">
                    <partner>Partner</partner>
                </a>
                <a href="#.html" target="_blank">
                    <about_eatmi>About Eatmi</about_eatmi>
                </a>
                <a href="#.html" target="_blank">
                    <sustain>Sustainability Journey</sustain>
                </a>
            </div>
            </a>
            <a href="#.html" target="_blank">
                <button class="sign_up_button">
                    <div class="sign_up_text">name</div>
                </button>
            </a>
            <a href="my coupon (ไทย).html">
                <div class="Eng_Thai">EN/TH</div>
            </a>
        </div>
        </header>
        <div class="coupon_group">
            <div class="my_coupon_text">My coupon</div>
            <div class="my_coupon_list1">
                <img src="/img/food.png" class="coupon_food">
                <button class="show_location_button">
                    <div class="show_location_text">Show location</div>
                </button>
                <button class="use_coupon_button">
                    <div class="use_coupon_text">Use coupons</div>
                </button>
                <div class="bill_text3">menu by restaurant
                    <div>address
                        <div>expired date: dd/mm/yy</div>
                    </div>
                </div>
            </div>
            <div class="my_coupon_list2">
                <img src="/img/food.png" class="coupon_food">
                <button class="show_location_button">
                    <div class="show_location_text">Show location</div>
                </button>
                <button class="use_coupon_button">
                    <div class="use_coupon_text">Use coupons</div>
                </button>
                <div class="bill_text3">menu by restaurant
                    <div>address
                        <div>expired date: dd/mm/yy</div>
                    </div>
                </div>
            </div>
            <div class="my_coupon_list3">
                <img src="/img/food.png" class="coupon_food">
                <button class="show_location_button">
                    <div class="show_location_text">Show location</div>
                </button>
                <button class="use_coupon_button">
                    <div class="use_coupon_text">Use coupons</div>
                </button>
                <div class="bill_text3">menu by restaurant
                    <div>address
                        <div>expired date: dd/mm/yy</div>
                    </div>
                </div>
            </div>
            <button class="show_coupon_button">
                <div class="show_coupon_text">Show more coupons</div>
            </button>
        </div>
        <footer class="footer4">
            <img src="/img/AIESEC.png" class="AIESEC">
            <div class="taskbar_box">
                <div class="first_taskbar">
                    <our_story>OUR STORY</our_story>
                    <a href="#.html" target="_blank">
                        <partner>Partner</partner>
                    </a>
                    <a href="#.html" target="_blank">
                        <about_eatmi>About Eatmi</about_eatmi>
                    </a>
                    <a href="#.html" target="_blank">
                        <sustain>Sustainability Journey</sustain>
                    </a>
                </div>
                <div class="line"></div>
                <a href="https://www.facebook.com/Meella.official/" target="_blank">
                    <img src="icon/fb.png" class="fb">
                </a>
                <a href="https://www.instagram.com/meella.th/?hl=th" target="_blank">
                    <img src="icon/ig.png" class="ig">
                </a>
        </footer>
        <script src="js/header_dropdown.js"></script>
        <script src="js/filter_dropdown.js"></script>
        <script src="js/filter_progress.js"></script>
</body>

</html>