<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            overflow-x: hidden;
        }
    </style>
    <title>payment scan TH</title>
    <link rel="stylesheet" href="/css/no_account.css (ไทย) lists/body (ไทย).css">
    <link rel="stylesheet" href="/css/no_account.css (ไทย) lists/header (ไทย).css">
    <link rel="stylesheet" href="/css/no_account.css (ไทย) lists/style (ไทย).css">
    <link rel="stylesheet" href="/css/no_account.css (ไทย) lists/footer (ไทย).css">
    <link rel="stylesheet" href="/css/all.css">
</head>

<body>
    <header class="header, header_shade">
        <div class="left_taskbar">
            <a href="#.html">
                <img src="/img/meella_logo.png" class="meella_logo">
            </a>
            <div class="shop_text">ร้านค้า</div>
            <div class="my_account_text">บัญชีของฉัน<arrow1 class="fa-regular fa-angle-down"></arrow1>
            </div>
            <div class="select-box1">
                <div class="options-container1">
                    <div class="option1">
                        <input type="radio" class="radio" id="my_profile" name="category" />
                        <label for="my_profile">โปรไฟล์ของฉัน</label>
                    </div>

                    <div class="option1">
                        <input type="radio" class="radio" id="my_coupon" name="category" />
                        <label for="my_coupon">คูปองของฉัน</label>
                    </div>

                    <div class="option1">
                        <input type="radio" class="radio" id="order_history" name="category" />
                        <label for="order_history">ประวัติการสั่งซื้อ</label>
                    </div>
                </div>
            </div>
            <div class="our_story_text">เรื่องราวของเรา<arrow2 class="fa-regular fa-angle-down"></arrow2>
            </div>
            <div class="select-box2">
                <div class="options-container2">
                    <div class="option2">
                        <input type="radio" class="radio" id="partner" name="category" />
                        <label for="partner">หุ้นส่วน</label>
                    </div>

                    <div class="option2">
                        <input type="radio" class="radio" id="about_eatmi" name="category" />
                        <label for="about_eatmi">เกี่ยวกับ Eatmi</label>
                    </div>

                    <div class="option2">
                        <input type="radio" class="radio" id="sustain" name="category" />
                        <label for="sustain">เส้นทางแห่งความยั่งยืน</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_taskbar">
            <a href="#.html" target="_blank">
                <div class="bag">
                    <bag1 class="fa-regular fa-shopping-bag"></bag1>
                </div>
            </a>
            <a href="#.html" target="_blank">
                <button class="sign_up_button">
                    <div class="sign_up_text">ชื่อ</div>
                </button>
            </a>
            <a href="payment_card scan.html">
                <div class="Eng_Thai">EN/TH</div>
            </a>
        </div>
    </header>
    <div class="body_box2">
        <bag3 class="fa-regular fa-shopping-bag"></bag3>
        <div class="left_rect2"></div>
        <div class="circle2">
            <credit_in_circle class="fa-regular fa-credit-card"></credit_in_circle>
        </div>
        <div class="right_rect2"></div>
        <house2 class="fa-regular fa-house"></house2>
        <div class="qr_box">
            <div class="qr-code"></div>
            <button class="save_qr_button">
                <div class="save_qr_text">เซฟ QR Code</div>
            </button>
        </div>
        <button class="cancel_button">
            <div class="cancel_text">ยกเลิก</div>
        </button>
        <button class="next_button">
            <div class="next_text">ต่อไป</div>
        </button>
    </div>
    <footer class="footer">
        <img src="/img/AIESEC.png" class="AIESEC">
        <div class="taskbar_box">
            <div class="first_taskbar">
                <our_story>เรื่องราวของเรา</our_story>
                <a href="#.html" target="_blank">
                    <partner>หุ้นส่วน</partner>
                </a>
                <a href="#.html" target="_blank">
                    <about_eatmi>เกี่ยวกับ Eatmi</about_eatmi>
                </a>
                <a href="#.html" target="_blank">
                    <sustain>เส้นทางแห่งความยั่งยืน</sustain>
                </a>
            </div>
            <div class="second_taskbar">
                <shop>ร้านค้า</shop>
                <a href="#.html" target="_blank">
                    <view_shop>ดูร้านค้า</view_shop>
                </a>
            </div>
            <div class="third_taskbar">
                <my_account>บัญชีของฉัน</my_account>
                <a href="#.html" target="_blank">
                    <my_profile>โปรไฟล์ของฉัน</my_profile>
                </a>
                <a href="#.html" target="_blank">
                    <my_coupon>คูปองของฉัน</my_coupon>
                </a>
                <a href="#.html" target="_blank">
                    <order_history>ประวัติการสั่งซื้อ</order_history>
                </a>
            </div>
            <div class="last_taskbar">
                <help>ความช่วยเหลือ</help>
                <a href="#.html" target="_blank">
                    <FAQS>FAQS</FAQS>
                </a>
            </div>
            <a href="#.html" target="_blank">
                <term_condition>ข้อกำหนดและเงื่อนไข</term_condition>
            </a>
            <a href="#.html" target="_blank">
                <privacy_policy>นโยบายความเป็นส่วนตัว</privacy_policy>
            </a>
        </div>
        <div class="line"></div>
        <a href="https://www.facebook.com/Meella.official/" target="_blank">
            <img src="/icon/fb.png" class="fb">
        </a>
        <a href="https://www.instagram.com/meella.th/?hl=th" target="_blank">
            <img src="/icon/ig.png" class="ig">
        </a>
    </footer>
    <script src="js/header_dropdown.js"></script>
</body>

</html>