<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            overflow-x: hidden;
        }
    </style>
    <title>payment success</title>
    <link rel="stylesheet" href="/css/no_account.css_lists/body.css">
    <link rel="stylesheet" href="/css/no_account.css_lists/header.css">
    <link rel="stylesheet" href="/css/no_account.css_lists/style.css">
    <link rel="stylesheet" href="/css/no_account.css_lists/footer.css">
    <link rel="stylesheet" href="/css/all.css">
</head>

<body>
    <header class="header, header_shade">
        <div class="left_taskbar">
            <a href="#.html">
                <img src="img/figma/meella_logo.png" class="meella_logo">
            </a>
            <div class="shop_text">Shop</div>
            <div class="my_account_text">My Account<arrow1 class="fa-regular fa-angle-down"></arrow1>
            </div>
            <div class="select-box1">
                <div class="options-container1">
                    <div class="option1">
                        <input type="radio" class="radio" id="my_profile" name="category" />
                        <label for="my_profile">My Profile</label>
                    </div>

                    <div class="option1">
                        <input type="radio" class="radio" id="my_coupon" name="category" />
                        <label for="my_coupon">My Coupon</label>
                    </div>

                    <div class="option1">
                        <input type="radio" class="radio" id="order_history" name="category" />
                        <label for="order_history">Order History</label>
                    </div>
                </div>

                <div class="option1">
                    <input type="radio" class="radio" id="my_coupon" name="category" />
                    <label for="my_coupon">My Coupon</label>
                </div>

                <div class="option1">
                    <input type="radio" class="radio" id="order_history" name="category" />
                    <label for="order_history">Order History</label>
                </div>
            </div>
        </div>
        <div class="our_story_text">Our Story<arrow2 class="fa-regular fa-angle-down"></arrow2>
        </div>
        <div class="select-box2">
            <div class="options-container2">
                <div class="option2">
                    <input type="radio" class="radio" id="partner" name="category" />
                    <label for="partner">Partner</label>
                </div>

                <div class="option2">
                    <input type="radio" class="radio" id="about_eatmi" name="category" />
                    <label for="about_eatmi">About Eatmi</label>
                </div>

                <div class="option2">
                    <input type="radio" class="radio" id="sustain" name="category" />
                    <label for="sustain">Sustainability Journey</label>
                </div>
                </a>
                <a href="#.html" target="_blank">
                    <button class="sign_up_button">
                        <div class="sign_up_text">name</div>
                    </button>
                </a>
                <a href="payment_card success (ไทย).html">
                    <div class="Eng_Thai">EN/TH</div>
                </a>
            </div>
    </header>
    <div class="body_box3">
        <bag4 class="fa-regular fa-shopping-bag"></bag4>
        <div class="left_rect3"></div>
        <credit_card2 class="fa-regular fa-credit-card"></credit_card2>
        <div class="right_rect3"></div>
        <div class="circle3">
            <house_in_circle class="fa-regular fa-house"></house_in_circle>
        </div>
        <div class="successful">Your Order was successful!</div>
        <img src="img/figma/food.png" class="food1">
        <div class="discount_circle1">
            <div class="xx_in_circle">xx %</div>
        </div>
        <img src="img/figma/food.png" class="food2">
        <div class="discount_circle2">
            <div class="xx_in_circle">xx %</div>
        </div>
        <div class="bill_text1">menu by restaurant
            <div>address
                <div>expired date: dd/mm/yy</div>
            </div>
        </div>
        <div class="xxTHB1">xx THB</div>
        <div class="blue_line1"></div>
        <div class="bill_text2">menu by restaurant
            <div>address
                <div>expired date: dd/mm/yy</div>
            </div>
        </div>
        <div class="xxTHB2">xx THB</div>
        <div class="blue_line2"></div>
        <div class="short_blue_line1"></div>
        <div class="paylist">
            <div>Subtotal
                <div>Discount</div>
            </div>
        </div>
    </div>
    <div class="right_taskbar">
        <a href="#.html" target="_blank">
            <div class="bag">
                <bag1 class="fa-regular fa-shopping-bag"></bag1>
            </div>
        </a>
        <a href="#.html" target="_blank">
            <button class="sign_up_button">
                <div class="sign_up_text">name</div>
            </button>
        </a>
        <a href="payment_card success (ไทย).html">
            <div class="Eng_Thai">EN/TH</div>
        </a>
    </div>
    </header>
    <div class="body_box3">
        <bag4 class="fa-regular fa-shopping-bag"></bag4>
        <div class="left_rect3"></div>
        <credit_card2 class="fa-regular fa-credit-card"></credit_card2>
        <div class="right_rect3"></div>
        <div class="circle3">
            <house_in_circle class="fa-regular fa-house"></house_in_circle>
        </div>
        <div class="successful">Your Order was successful!</div>
        <img src="/img/food.png" class="food1">
        <div class="discount_circle1">
            <div class="xx_in_circle">xx %</div>
        </div>
        <img src="/img/food.png" class="food2">
        <div class="discount_circle2">
            <div class="xx_in_circle">xx %</div>
        </div>
        <div class="bill_text1">menu by restaurant
            <div>address
                <div>expired date: dd/mm/yy</div>
            </div>
        </div>
        <footer class="footer_success">
            <img src="img/figma/AIESEC.png" class="AIESEC">
            <div class="taskbar_box">
                <div class="first_taskbar">
                    <our_story>OUR STORY</our_story>
                    <a href="#.html" target="_blank">
                        <partner>Partner</partner>
                    </a>
                    <a href="#.html" target="_blank">
                        <about_eatmi>About Eatmi</about_eatmi>
                    </a>
                    <a href="#.html" target="_blank">
                        <sustain>Sustainability Journey</sustain>
                    </a>
                </div>
                <div class="second_taskbar">
                    <shop>SHOP</shop>
                    <a href="#.html" target="_blank">
                        <view_shop>View Shop</view_shop>
                    </a>
                </div>
                <div class="third_taskbar">
                    <my_account>MY ACCOUNT</my_account>
                    <a href="#.html" target="_blank">
                        <my_profile>My Profile</my_profile>
                    </a>
                    <a href="#.html" target="_blank">
                        <my_coupon>My Coupon</my_coupon>
                    </a>
                    <a href="#.html" target="_blank">
                        <order_history>Order History</order_history>
                    </a>
                </div>
                <div class="last_taskbar">
                    <help>HELP</help>
                    <a href="#.html" target="_blank">
                        <FAQS>FAQS</FAQS>
                    </a>
                </div>
                <a href="#.html" target="_blank">
                    <partner>Partner</partner>
                </a>
                <a href="#.html" target="_blank">
                    <about_eatmi>About Eatmi</about_eatmi>
                </a>
                <a href="#.html" target="_blank">
                    <sustain>Sustainability Journey</sustain>
                </a>
            </div>
            <div class="line"></div>
            <a href="https://www.facebook.com/Meella.official/" target="_blank">
                <img src="icon/fb.png" class="fb">
            </a>
            <a href="https://www.instagram.com/meella.th/?hl=th" target="_blank">
                <img src="icon/ig.png" class="ig">
            </a>
        </footer>
        <script src="js/header_dropdown.js"></script>
        <script src="js/hide.js"></script>
</body>

</html>