<!DOCTYPE html>
<html>

<head>
    <title>Privacy Notice</title>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans Thai Looped' rel='stylesheet'>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/privacy_notice_full.css">

    <style>
        body {
            background-image: url(/img/background.png);
            background-size: 100% 21%;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: bottom center;
            margin: 0 auto;
        }
    </style>

</head>

<body>
    <section class="head">
        <div class="edit">
            <h1>ประกาศนโยบายความเป็นส่วนตัว (Privacy Notice)</h1>
            <p>แก้ไขล่าสุดเมื่อวันที่ 20 เมษายน 2565</p>
        </div>
        <p>ประกาศนโยบายความเป็นส่วนตัวของ Meella (“Meella” หรือ “เรา”)
            ใช้กับการดำเนินการของMeellaในทุกช่องทางที่สามารถ
            เข้าถึงบริการของMeellaได้ โดยประกาศนโยบายความเป็นส่วนตัวนี้ (“ประกาศ”)
            ได้กำหนดวัตถุประสงค์และวิธีการเก็บรวบรวม ใช้ เปิดเผย
            ข้อมูลของผู้ใช้บริการของMeella (“ผู้ใช้” หรือ “”ท่าน”) ว่ามีข้อมูลใดบ้างที่Meellaเก็บรวบรวม
            Meellaนำข้อมูลของท่านไปใช้อย่างไร
            โดยคำนึงถึงความสำคัญของการคุ้มครองความเป็นส่วนตัวของผู้ใช้เสมอ ทั้งนี้
            ผู้ใช้โปรดอ่านประกาศนโยบายความเป็นส่วนตัว
            ด้วยความละเอียดรอบคอบ
    </section>

    <section id="part-one">
        <h4>1. Meella เก็บรวบรวมและนำข้อมูลส่วนบุคคลของท่านไปใช้หรือเปิดเผยอย่างไร</h4>
        <p>Meella จะเก็บรวบรวม ใช้
            หรือเปิดเผยข้อมูลส่วนบุคคลของท่านเฉพาะกรณีที่จำเป็นหรือมีฐานทางกฎหมายในการเก็บรวบรวม ใช้
            หรือเปิดเผยข้อมูลส่วนบุคคลเท่านั้น ซึ่งรวมถึงกรณีการเก็บรวบรวม ใช้
            หรือมีฐานทางกฎหมายในการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลเท่านั้น ซึ่งรวมถึงกรณีการเก็บรวบรวม ใช้
            หรือเปิดเผยข้อมูลส่วนบุคคลเพื่อการดำเนินการ
            ตามภาระหน้าที่ตามกฎหมาย การปฏิบัติตามสัญญาที่ท่านได้ทำไว้กับเรา เพื่อประโยชน์โดยชอบด้วยกฎหมายของเรา
            การดำเนินการตามความยินยอมของท่าน และ/หรือการดำเนินการภายใต้ฐานทางกฎหมายอื่น ๆ
            โดยวัตถุประสงค์ในการเก็บรวบรวม ใช้
            หรือเปิดเผยข้อมูลของMeella ดังต่อไปนี้
        </p>
        <div class="one-one">
            <h>1.1 ภาระหน้าที่ตามกฎหมายของMeella</h>
            <p>เนื่องจาก Meella ต้องดำเนินการตามกฎหมายและกฎระเบียบที่เกี่ยวข้อง เราจึงมีความจำเป็นต้องเก็บรวบรวม
                ใช้
                หรือเปิดเผยข้อมูลส่วนบุคคลของท่านเพื่อวัตถุประสงค์ต่าง ๆ
                เพื่อให้เป็นไปตามกฎหมายและกฎระเบียบของหน่วยงานรัฐ และ/
                หรือหน่วยงานที่มีหน้าที่กำกับดูแลเรา โดยมีวัตถุประสงค์ดังต่อไปนี้
            </p>
            <ul>
                <li style="margin-left:110px;margin-top: 18px;">
                    <span>เพื่อปฏิบัติตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล</span>
                </li>
                <li style="margin-left:110px;">
                    <span>เพื่อปฏิบัติตามกฎหมายที่เราต้องปฏิบัติตาม ทั้งในประเทศไทยหรือต่างประเทศ</span>
                </li>
                <li style="margin-left:110px;">
                    <span>เพื่อปฏิบัติตามกฎระเบียบและ/หรือคำสั่งของผู้มีอำนาจ เช่น คำสั่งศาล
                        คำสั่งของหน่วยงานรัฐหรือพนักงานเจ้าหน้าที่ผู้มีอำนาจ</span>
                </li>
            </ul>
        </div>
        <div class="one-two">

            <h>1.2 สัญญาที่ท่านได้ทำไว้กับMeella</h>
            <p>Meella จะเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของท่านไปใช้ตามคำขอ
                และ/หรือข้อตกลงที่ท่านได้ทำไว้กับเรา โดยมีวัตถุประสงค์ดังต่อไปนี้</p>
            <ul>
                <li style="margin-left:110px;margin-top: 40px; max-width: 1294px;">
                    <span>เพื่อดำเนินการตามคำขอของท่านก่อนการเข้าทำสัญญากับ Meella
                        เพื่อพิจารณาอนุมัติเกี่ยวกับการให้บริการ เพื่อส่งมอบบริการ</span>
                </li>
                <li style="margin-left:110px;max-width: 1294px;"><span>เพื่อส่งมอบบริการ และ
                        จัดการเรื่องต่าง ๆที่เกี่ยวกับบริการ</span></li>
                <li style="margin-left:110px;max-width: 1294px;">
                    <span>เพื่อยืนยันตัวตนในการทำธุรกรรมใด ๆ</span>
                </li>
                <li style="margin-left:110px;max-width: 1030px;">
                    <span>เพื่อการสนับสนุนลูกค้า เช่น ดำเนินการตามคำสั่งของท่าน การตอบข้อสงสัย ข้อเสนอแนะ
                        สืบสวนและจัดการความกังวลการแจ้งท่านเกี่ยวกับขั้นตอนการดำเนินการเพื่อแก้ปัญหาด้านการสนับสนุนลูกค้า</span>
                </li>
                <li style="margin-left:110px;max-width: 1294px;"><span>เพื่อติดตาม
                        หรือบันทึกการทำธุรกรรมของท่าน</span></li>
                <li style="margin-left:110px;max-width: 1294px;"><span>เพื่อจัดทำรายการต่าง ๆ
                        เช่น รายงานการทำธุรกรรมตามที่ท่านร้องขอ หรือการทำรายการภายในของMeella</span>
                </li>
                <li style="margin-left:110px;max-width: 1294px;">
                    <span>เพื่อแจ้งเตือนการทำธุรกรรม</span>
                </li>
                <li style="margin-left:110px;max-width: 1294px;"><span>เพื่อดำเนินการ
                        หรือเข้าทำธุรกรรมและ/หรือชำระเงิน เช่น การดำเนินการชำระเงิน การเรียกเก็บเงิน
                        เป็นต้น</span></li>
                <li style="margin-left:110px;max-width: 1294px;"><span>เพื่อประมวลผล จัดการ
                        และยืนยันสิทธิ์หรือคำขอของท่านในการลงทะเบียนเพื่อรับโปรโมชัน รางวัล
                        และบริการจากMeella</span></li>
            </ul>
        </div>
        <div class="one-three">

            <h>1.3 ประโยชน์โดยชอบด้วยกฎหมายของMeella</h>
            <p>Meella จะอ้างอิงฐานประโยชน์โดยชอบด้วยกฎหมาย โดยคำนึงถึงประโยชน์ของเราหรือของบุคคลอื่น
                กับสิทธิขั้นพื้นฐานในข้อมูลส่วนบุคคลของท่านที่เราจะเก็บรวบรวม ใช้ หรือเปิดเผย
                ซึ่งมีวัตถุประสงค์ดังต่อไปนี้
            </p>
            <ul>
                <li style="max-width: 1298px;margin-left:110px;margin-top: 20px;">
                    <span>เพื่อบริหารกิจการของMeella</span>
                </li>
                <li style="max-width: 1298px;margin-left: 110px;">
                    <span>เพื่อบริหารความสัมพันธ์ระหว่างMeella กับท่าน เช่น ดูแลลูกค้า ประเมินควาพมึงพอใจ
                        จัดการข้อร้องเรียน</span>
                </li>
                <li style="max-width: 1298px;margin-left: 110px;">
                    <span>เพื่อรักษาความปลอดภัย</span>
                </li>
                <li style="max-width: 1150px;margin-left: 110px;">
                    <span>เพื่อบริหารจัดการภายในที่จำเป็นในการให้บริการของเรา เช่น แก้ปัญหาการใช้งาน (bugs)
                        ในซอฟต์แวร์
                        และปัญหาด้านการปฏิบัติการ
                        การวิเคราะห์ข้อมูล การทดสอบและวิจัย การติดตามและวิเคราะห์แนวทางใช้งานและกิจกรรม</span>
                </li>
                <li style="max-width: 1260px;margin-left: 110px;">
                    <span>เพื่อพัฒนาและปรับปรุงความปลอดภัยและมั่นคงของบริการของเรา เช่น แก้ไขปัญหาระบบIT
                        ทำให้ระบบของMeella มีความปลอดภัย การพัฒนา
                        และการจัดให้มีการบำรุงรักษาระบบIT ของMeella</span>
                </li>
                <li style="max-width: 1298px;margin-left: 110px;">
                    <span>เพื่อประเมินความเหมาะสม และ/หรือคุณสมบัติของผู้ใช้งานแพลตฟอร์ม</span>
                </li>
                <li style="max-width: 1298px;margin-left: 110px;">
                    <span>เพื่อจัดการข้อเรียกร้องและข้อพิพาท รวมถึงการดำเนินการแก้ไขข้อพิพาท การใช้สิทธิ
                        หรือการโต้แย้งข้องข้อเรียกร้องทางกฎหมาย</span>
                </li>
                <li style="max-width: 1298px;margin-left: 110px;">
                    <span>เพื่อป้องกันความเสี่ยงด้านความปลอดภัย</span>
                </li>
                <li style="max-width: 1298px;margin-left: 110px;">
                    <span>เพื่ออำนวยความสะดวกแก่การตรวจสอบทางบัญชี
                        ซึ่งกระทำโดยผู้สอบบัญชีที่ถูกแต่งตั้งโดยท่านหรือเรา</span>
                </li>
            </ul>
        </div>
        <div class="one-four">

            <h>1.4 ความยินยอมของท่าน</h>
            <p>ในบางกรณี Meella อาจมีการขอความยินยอมจากท่านในการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของท่าน<br>
                เพื่อให้ท่านได้รับประโยชน์สูงสุด
                และ/หรือเพื่อให้เราสามารถให้บริการที่ตอบสนองต่อความต้องการของท่านได้ โดยมีวัตถุประสงค์ดังต่อไปนี้
            </p>
            <ul>
                <li style="max-width: 1020px;margin-left: 110px;margin-top: 20px;"><span>มีความจำเป็นต้องเก็บ
                        ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลประเภทอ่อนไหว
                        เพื่อยืนยันตัวตนของท่านก่อนการทำธุรกรรม
                        เราจะทำการขอความยินยอมจากท่านก่อน</span></li>
                <li style="max-width: 1298px;margin-left: 110px;">
                    <span>มีการเก็บรวบรวมข้อมูลส่วนบุคคลของท่าน ไปเพื่อวัตถุประสงค์ทางการวิจัย<br>
                        และวิเคราะห์เพื่อประโยชน์ในการพัฒนาผลิตภัณฑ์และบริการที่ตอบสนองต่อความต้องการของท่าน
                        และ/หรือการติดต่อเพื่อเสนอผลิตภัณฑ์
                        บริการและสิทธิประโยชน์ที่เหมาะสมแก่ท่าน เราจะขอความยินยอมจากท่านก่อน</span>
                </li>
                <li style="max-width: 1298px;margin-left: 110px;margin-bottom: 48px;">
                    <span>มีการเปิดเผยข้อมูลส่วนบุคคลของท่าน ต่อพันธมิตรทางธุรกิจที่เชื่อถือได้ของเรา เพื่อวิจัย<br>
                        วิเคราะห์ข้อมูลส่วนบุคคลของท่านเพื่อประโยชน์สูงสุดในการพัฒนาผลิตภัณฑ์และบริการที่ตอบสนองความต้องการของท่านอย่างแท้จริง
                        เราจะขอความยินยอมจากท่านก่อน</span>
                </li>
            </ul>
        </div>
        <div class="one-five">
            <h>1.5 ฐานทางกฎหมายอื่น ๆ</h>
            <p>นอกเหนือจากฐานทางกฎหมายข้างต้น Meella อาจเก็บรวบรวม ใช้
                หรือเปิดเผยข้อมูลส่วนบุคคลของท่านภายใต้ฐานทางกฎหมายอื่นดังต่อไปนี้</p>
            <ul>
                <li style="max-width: 1020px;margin-left: 110px;margin-top: 20px;">
                    <span>การจัดทำเอกสารประวัติศาสตร์หรือจดหมายเหตุเพื่อประโยชน์สาธารณะ
                        หรือที่เกี่ยวกับการศึกษาวิจัยหรือสถิติ</span>
                </li>
                <li style="max-width: 1298px;margin-left: 110px;">
                    <span>ป้องกันหรือระงับอันตรายต่อชีวิต ร่างกาย หรือสุขภาพของบุคคล</span>
                </li>
                <li style="max-width: 1298px;margin-left: 110px;">
                    <span>เป็นการจำเป็นเพื่อการปฏิบัติหน้าที่ในการดำเนินภารกิจเพื่อประโยชน์สาธารณะหรือเพื่อ
                        การใช้อำนาจของพนักงานเจ้าหน้าที่</span>
                </li>
            </ul>

        </div>
        <div class="end_part-one">
            <p>โดยหากข้อมูลส่วนบุคคลที่Meellaเก็บรวบรวมจากท่านมีความจำเป็น
                สำหรับการปฏิบัติตามกฎหมายหรือเพื่อการเข้าทำสัญญาระหว่างเรากับท่าน
                เมื่อท่านเลือกที่จะไม่ให้ข้อมูลส่วนบุคคลเหล่านั้น เราอาจไม่สามารถให้บริการแก่ท่านได้</p>
        </div>
    </section>

    <section id="part-two">
        <h4>2. ข้อมูลส่วนบุคคลที่Meellaเก็บรวบรวม ใช้ หรือเปิดเผย</h4>
        <p>ประเภทของข้อมูลส่วนบุคคลที่Meellaเก็บรวบรวม ใช้ หรือเปิดเผยจะแตกต่างกันไปขึ้นอยู่กับขอบเขตของผลิตภัณฑ์
            และ/
            หรือบริการที่ท่านอาจเคยใช้หรือสนใจ โดยมีข้อมูลส่วนบุคคล ดังต่อไปนี้</p>
        <table class="table-two">
            <thead>
                <th>ประเภทข้อมูล</th>
                <th>ข้อมูลส่วนบุคคล</th>
            </thead>
            <tr class="row-one">
                <td data-tittle="ประเภทข้อมูล" style="position: relative;top: -45px;left: 5px;">รายละเอียดส่วนบุคคล
                </td>
                <td data-tittle="ข้อมูลส่วนบุคคล" style="position: relative;left: 25px;">
                    <ul>
                        <li>คำนำหน้าชื่อ ชื่อ สกุล</li>
                        <li>เพศ</li>
                        <li>วันเดือนปีเกิด</li>
                        <li>อายุ</li>
                    </ul>
                </td>
            </tr>
            <tr class="row-two">
                <td data-tittle="ประเภทข้อมูล" style="position: relative;top: -30px;left: 5px;">รายละเอียดการติดต่อ
                </td>
                <td data-tittle="ข้อมูลส่วนบุคคล" style="position: relative;left: 25px;">
                    <ul>
                        <li>เบอร์โทร</li>
                        <li>บัญชี หรือ ID สำหรับโซเชี่ยลมีเดีย</li>
                        <li>สำหรับสื่อสารทางอิเล็กทรอนิกส์</li>
                    </ul>
                </td>
            </tr>
            <tr class="row-three">
                <td data-tittle="ประเภทข้อมูล" style="position: relative;left: 5px; top: -10px;">
                    รายละเอียดทางการเงิน<br>
                    และข้อมูลเกี่ยวกับความสัมพันธ์ของท่านกับเรา</td>
                <td data-tittle="ข้อมูลส่วนบุคคล" style="position: relative;left:25px;">
                    <ul>
                        <li><span>ประวัติการชำระเงินบันทึกการทำธุรกรรม</span></li>
                        <li><span>ข้อมูลเกี่ยวกับธุรกรรมของท่าน เช่น<br>ประเภท จำนวน ราคา ปริมาณ เงื่อนไข</span>
                        </li>
                        </li>
                    </ul>

                </td>
            </tr>
            <tr class="row-four">
                <td data-tittle="ประเภทข้อมูล" style="position: relative;top: -82px;left: 5px;">ข้อมูลการวิจัยตลาด
                    ข้อมูลการตลาด</td>
                <td data-tittle="ข้อมูลส่วนบุคคล" style="position: relative;left: 25px;">
                    <ul>
                        <li>การสำรวจความคิดเห็นลูกค้า</li>
                        <li>คำตอบของท่านต่อแบบสอบถาม<br>
                            คำร้องขอทราบข้อเสนอแนะ การทำวิจัย</li>
                        <li>รายละเอียดบริการที่ท่านได้รับ<br>
                            และความต้องการของท่าน</li>
                        <li>รายละเอียดเนื้อหาของการสื่อสารระหว่างท่านกับ<br>
                            Meella</li>
                    </ul>

                </td>
            </tr>
            <tr class="row-five">
                <td data-tittle="ประเภทข้อมูล" style="position: relative;top: -70px;left: 5px;">รายละเอียดทางเทคนิค
                    ข้อมูลทางภูมิศาสตร์<br>
                    ข้อมูลเกี่ยวกับอุปกรณ์และซอฟต์แวร์ของท่าน
                <td data-tittle="ข้อมูลส่วนบุคคล" style="position: relative;left: 25px;">
                    <ul>
                        <li>IP address</li>
                        <li>ชนิดของบราวเซอร์</li>
                        <li>การตั้งค่าเรื่องเขตเวลา (time zone)</li>
                        <li>ความเคลื่อนไหวของท่านภายในบริการ</li>
                        <li>ระยะเวลาที่ท่านอยู่ในระบบ</li>
                        <li>เวลาและวันที่กดเข้าชมเว็บไซต์</li>
                        <li>ข้อมูลการกดเข้าชมเว็บไซต์</li>
                    </ul>
                </td>
            </tr>
            <tr class="row-six">
                <td data-tittle="ประเภทข้อมูล" style="position: relative;top: -15px;left: 5px;">ข้อมูลการเข้าใช้
                    การขอใช้บริการ<br>
                    รายละเอียดเกี่ยวกับบัญชีผู้ใช้</td>
                <td data-tittle="ข้อมูลส่วนบุคคล" style="position: relative;left: 25px;">
                    <ul>
                        <li>ข้อมูลการเข้าใช้Meella</li>
                        <li>สิ่งที่ระบุบัญชีผู้ใช้</li>
                        <li>ชื่อบัญชีผู้ใช้และรหัสผ่าน</li>
                    </ul>
                </td>
            </tr>
            <tr class="row-seven">
                <td data-tittle="ประเภทข้อมูล" style="position: relative;top: -55px;left: 5px;">ข้อมูลอื่น ๆ</td>
                <td data-tittle="ข้อมูลส่วนบุคคล" style="position: relative;left: 25px;">
                    <ul>
                        <li>บันทึกการโต้ตอบสื่อสารระหว่างท่านกับMeella<br>
                            ไม่ว่าจะในรูปแบบหรือวิธีใด ๆ ก็ตาม<br>
                            รวมถึงแต่ไม่จำกัดเพียง โทรศัพท์ อีเมล<br>
                            ข้อความสนทนา การสื่อสารทางโซเชี่ยลมีเดีย</li>
                        <li>ข้อมูลที่ท่านให้ไว้กับMeella ไม่ว่าผ่านช่องทางใด</li>
                    </ul>
                </td>
            </tr>
        </table>

    </section>
    <section id="part-three">
        <h4>3. ข้อมูลส่วนบุคคลของผู้เยาว์</h4>
        <p>Meella ไม่ได้มุ่งเน้นที่จะให้บริการแก่ผู้ที่ยังไม่บรรลุนิติภาวะ และไม่มีเจตนาในการเก็บรวบรวม ใช้
            หรือเปิดเผยข้อมูลของผู้ที่ยังไม่บรรลุนิติภาวะโดยที่ไม่ได้รับความยินยอมจากผู้ปกครองแต่อย่างใด
            หากMeellaทราบว่าข้อมูลใดที่Meellaได้เก็บรวบรวม ใช้ และ/หรือ เปิดเผย
            โดยที่ไม่ได้รับความยินยอมจากผู้ปกครอง Meella
            จะดำเนินการตามความเหมาะสมเพื่อลบ หรือทำให้ข้อมูลนั้นไม่สามารถระบุตัวตนได้ ทั้งนี้
            การดำเนินการดังกล่าวเป็นไปตามที่กฎหมายกำหนดและให้อำนาจไว้
        </p>
    </section>

    <section id="part-four">
        <h4>4. แหล่งที่มาของข้อมูลส่วนบุคคลของท่าน</h4>
        <p1>โดยทั่วไปแล้ว Meella จะเก็บรวบรวมข้อมูลส่วนบุคคลจากท่านโดยตรง<br>
            แต่ในบางกรณีเราอาจได้รับข้อมูลส่วนบุคคลของท่านมาโดยอ้อมจากแหล่งอื่น เช่น
            แหล่งข้อมูลที่เปิดเผยแก่สาธารณะ<br>
            พาร์ทเนอร์ทางธุรกิจของเรา เป็นต้น
            ซึ่งเราจะดำเนินการให้เป็นไปตามที่พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคลกำหนด
        </p1>
        <p2>ในกรณีที่ท่านได้ให้ข้อมูลส่วนบุคคลของบุคคลอื่นแก่Meella ในการทำธุรกรรมกับเราหรือในกรณีอื่นใด<br>
            ท่านจะต้องแจ้งให้บุคคลดังกล่าวทราบถึงรายละเอียดการเก็บรวบรวม การใช้<br>
            และการเปิดเผยข้อมูลส่วนบุคคลและสิทธิตามประกาศนโยบายความเป็นส่วนตัวนี้ด้วย
        </p2>
    </section>

    <section id="part-five">
        <h4>5. สิทธิตามกฎหมาย</h4>
        <p>ภายใต้พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล ท่านอาจมีสิทธิในข้อมูลส่วนบุคคลของท่าน ดังต่อไปนี้</p>
        <div class="five-one">

            <h>5.1 สิทธิในการเข้าถึงและขอรับสำเนาข้อมูลส่วนบุคคลของท่าน</h>
            <p>ท่านมีสิทธิในการเข้าถึงข้อมูลส่วนบุคคลของท่านและขอให้เราทำสำเนาข้อมูลส่วนบุคคลดังกล่าว
                รวมถึงขอให้เราเปิดเผยการได้มาซึ่งข้อมูลส่วนบุคคลที่ท่านไม่ได้ให้ความยินยอมต่อเราให้แก่ท่านได้
                เว้นแต่กรณีที่เรามีสิทธิปฏิเสธคำขอของท่านตามกฎหมายหรือคำสั่งศาล
                หรือในกรณีที่คำขอของท่านอาจก่อให้เกิดความเสียหายต่อสิทธิและเสรีภาพต่อบุคคลอื่น
            </p>
        </div>
        <div class="five-two">

            <h>5.2 สิทธิในการขอแก้ไขข้อมูลส่วนบุคคลของท่าน</h>
            <p>ท่านมีสิทธิในการขอให้เราแก้ไขข้อมูลที่ไม่ถูกต้อง เพิ่มเติมข้อมูลที่ไม่สมบูรณ์หรือไม่ครบถ้วน</p>
        </div>
        <div class="five-three">

            <h>5.3 สิทธิในการขอให้ลบข้อมูลส่วนบุคคลของท่าน</h>
            <p>ท่านมีสิทธิขอให้Meella ทำการลบข้อมูลของท่านหรือทำให้ข้อมูลของท่านเป็นข้อมูลที่ไม่สามารถ<br>
                ระบุตัวตนได้ เว้นแต่กรณีที่เราจะมีเหตุอันชอบด้วยกฎหมายในการปฏิเสธคำขอของท่าน
            </p>
        </div>
        <div class="five-four">

            <h>5.4 สิทธิในการขอให้ระงับการใช้ข้อมูลส่วนบุคคลของท่าน</h>
            <p>ท่านมีสิทธิในการระงับการใช้ข้อมูลส่วนบุคคลของท่านด้วยเหตุบางประการได้</p>
        </div>
        <div class="five-five">

            <h>5.5 สิทธิในการคัดค้านการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของท่าน</h>
            <p>ท่านมีสิทธิในการคัดค้านการเก็บรวบรวม ใช้
                หรือเปิดเผยข้อมูลส่วนบุคคลของท่านในกรณีที่เราดำเนินการภายใต้ฐานประโยชน์โดยชอบด้วยกฎหมาย
                หรือเพื่อวัตถุประสงค์เกี่ยวกับการตลาดหรือศึกษาวิจัยทางวิทยาศาสตร์ ประวัติศาสตร์ หรือสถิติ
                เว้นแต่กรณีที่เรามีเหตุในการปฏิเสธคำขอของท่านโดยชอบด้วยกฎหมาย
            </p>
        </div>
        <div class="five-six">

            <h>5.6 สิทธิในการขอรับหรือขอให้ส่งหรือโอนข้อมูลส่วนบุคคลของท่าน</h>
            <p>ท่านมีสิทธิในการโอนย้ายข้อมูลส่วนบุคคลของท่านที่ท่านให้ไว้กับเราไปยังผู้ควบคุมข้อมูลรายอื่น
                หรือตัวท่านเองด้วยเหตุประการใด ๆ<br>
                เว้นแต่กรณีที่เราไม่สามารถทำตามคำขอของท่านได้โดยสภาพทางเทคนิคหรือมีเหตุในการปฏิเสธคำขอของท่านโดยชอบด้วยกฎหมาย
            </p>
        </div>
        <div class="five-seven">

            <h>5.7 สิทธิในการเพิกถอนความยินยอม</h>
            <p>ท่านมีสิทธิในการเพิกถอนความยินยอมในการประมวลผลข้อมูลส่วนบุคคลที่ท่านได้ให้ความยินยอมกับเราตามขั้นตอนและวิธีการที่กำหนด<br>
                ตลอดระยะเวลาที่ข้อมูลส่วนบุคคลของท่านอยู่กับเรา</p>
        </div>
        <div class="five-eight">

            <h>5.8 สิทธิในการร้องเรียน</h>
            <p1>ท่านมีสิทธิร้องเรียนต่อคณะกรรมการคุ้มครองข้อมูลส่วนบุคคล
                หรือสำนักงานคณะกรรมการคุ้มครองข้อมูลส่วนบุคคล<br>
                หากเรากระทำการอันเป็นการไม่ปฏิบัติตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล</p1>
            <p2>ถ้าท่านต้องการขอใช้สิทธิดังกล่าวของท่าน
                ท่านสามารถติดต่อเราผ่านรายละเอียดการติดตามตามที่ระบุไว้ในข้อ11</p2>
            <p3>เราจะทำการตรวจสอบและยืนยันคำขอของท่านโดยเร็วที่สุด เมื่อดำเนินการยืนยันได้แล้วว่า<br>
                ท่านมีอำนาจในการขอใช้สิทธิ เราจะดำเนินการปฏิบัติตามคำขอภายในระยะเวลาที่กฎหมายกำหนด</p3>
        </div>
    </section>

    <section id="part-six">
        <h4>6. การเปิดเผยข้อมูลส่วนบุคคล</h4>
        <p>Meella อาจเปิดเผยข้อมูลส่วนบุคคลของท่านต่อบุคคลหรือองค์กรดังต่อไปนี้
            ภายใต้หลักเกณฑ์ตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล</p>
        <table class="table-six">
            <thead>
                <th>ประเภท</th>
                <th>รายละเอียด</th>
            </thead>
            <tr class="row-one">
                <td data-tittle="ประเภท">ศาล หน่วยงาน หรือบุคคลใด ๆ ที่ Meella<br>
                    ถูกกำหนดหรือได้รับอนุญาตให้เปิดเผยข้อมูล<br>
                    ส่วนบุคคลตามกฎหมาย กฎระเบียบ หรือคำสั่ง</td>
                <td data-tittle="รายละเอียด">
                    เราอาจเปิดเผยข้อมูลเพื่อปฏิบัติตามกฎหมาย<br>
                    การดำเนินคดีทางศาล คำสั่งศาล หมายเรียก<br>
                    หรือกระบวนการทางกฎหมายอื่น ๆ
                </td>
            </tr>
            <tr class="row-two">
                <td data-tittle="ประเภท" style="position:relative;top: -170px;">
                    ผู้ให้บริการและพาร์ทเนอร์ทางธุรกิจของMeella
                </td>
                <td data-tittle="รายละเอียด" style="position: relative;left: 25px;">
                    <ul>
                        <li>ผู้ให้บริการจัดเก็บข้อมูลคลาวด์ (Cloud)</li>
                        <li>พาร์ทเนอร์ทางการตลาด<br>และผู้ให้บริการแพล็ตฟอร์มการตลาด(Marketing<br>Platform)</li>
                        <li>ผู้ให้บริการ customer service</li>
                        <li>ผู้ให้บริการด้าน IT</li>
                        <li>ผู้ให้บริการวิเคราะห์ข้อมูล</li>
                        <li>พาร์ทเนอร์ด้านการวิจัย</li>
                        <li>พาร์ทเนอร์ร้านค้า</li>
                        <p style="position: relative;padding-left: 0px;padding-top: 5px;left: -20px;">
                            ซึ่งการเปิดเผยข้อมูลบุคคลส่วนบุคคลของท่านจะมี
                            วัตถุประสงค์โดยเฉพาะเจาะจง
                            ภายใต้ฐานทางกฎหมาย และมาตรการความปลอดภัยที่เหมาะสม
                        <p>
                    </ul>

                </td>
            </tr>
        </table>
    </section>

    <section id="part-seven">
        <h4>7. ระยะเวลาการเก็บข้อมูลส่วนบุคคล</h4>
        <p>
            Meella จะเก็บข้อมูลของผู้ใช้ไว้ในระหว่างที่ท่านมีความสัมพันธ์กับเรา
            ตลอดจนระยะเวลา1ปีภายหลังจากที่ผู้ใช้สิ้นสุดความสัมพันธ์กับเรา (เช่น
            หลังจากที่ท่านปิดบัญชีที่มีอยู่กับเรา) อย่างไรก็ตามเราอาจเก็บข้อมูลของผู้ใช้ไว้นานกว่านี้
            เพื่อตรวจสอบธุรกรรมต้องสงสัยที่ผู้ใช้หรือบุคคลที่เกี่ยวข้องอาจแจ้งมายังMeella
            หรือกรณีที่มีเหตุอันควรว่าจะเป็นข้อพิพาทหรือคดีความ
            ทั้งนี้ตามที่มีกฎหมายที่เกี่ยวข้องให้อำนาจไว้
        </p>
    </section>
    <section id="part-eight">
        <h4>8. การใช้คุกกี้</h4>
        <div class="p1">
            <p>เราอาจเก็บรวบรวมและใช้คุกกี้และเทคโนโลยีการเก็บข้อมูลที่คล้ายคลึงกัน
                เมื่อท่านใช้ผลิตภัณฑ์และ/หรือบริการของMeella
                รวมถึงการใช้แพลตฟอร์มของMeella
            </p>
        </div>
        <div class="p2">
            <p>การเก็บรวบรวมคุกกี้และเทคโนโลยีในลักษณะเดียวกันดังกล่าวจะช่วยให้เราสามารถจดจำท่าน
                ทราบถึงความชื่นชอบของท่าน
                และปรับปรุงวิธีการที่เราจะเสนอผลิตภัณฑ์และ/หรือบริการให้แก่ท่าน เราอาจใช้คุกกี้เพื่อวัตถุประสงค์ต่าง
                ๆ
                เช่น ให้ฟังก์ชันพื้นฐานสามารถทำงานได้
                ช่วยให้เราเข้าใจวิธีการที่ท่านใช้งานแพลตฟอร์มของเรา
                ช่วยให้เราสามารถมอบประสบการณ์ผ่านช่องทางออนไลน์หรือการติดต่อสื่อสารกับท่านได้ดียิ่งขึ้น
                และเพื่อให้มั่นใจว่าสื่อโฆษณาออนไลน์ที่ได้แสดงแก่ท่านมีความเกี่ยวข้องและเป็นสิ่งที่ท่านสนใจ </p>
        </div>
        <div class="p3">
            <p>ในเว็บบราว์เซอร์ส่วนใหญ่ ท่านจะสามารถควบคุมได้ว่าจะยอมรับคุกกี้หรือไม่ อย่างไรก็ตาม
                หากท่านปิดการใช้งานคุกกี้ หรือจำกัดความสามารถในการตั้งค่าคุกกี้
                ท่านอาจไม่สามารถได้รับประโยชน์อย่างเต็มที่จากแพลตฟอร์ม หรือเข้าถึงทุกฟังก์ชันการใช้งานได้
                ซึ่งอาจจำกัดประสบการณ์การใช้งานโดยรวมของท่าน รายละเอียดโปรดดู <a href="#">นโยบายการใช้คุกกี้</a></p>
        </div>
    </section>

    <section id="part-nine">
        <h4>9. การใช้ข้อมูลตามวัตถุประสงค์เดิม</h4>
        <p>ข้อมูลส่วนบุคคลของท่านที่เราได้เก็บรวบรวมไว้ก่อนวันที่พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคลมีผลบังคับใช
            ้เรามีสิทธิในการเก็บรวบรวม
            และใช้ข้อมูลส่วนบุคคลของท่านต่อไปตามวัตถุประสงค์เดิม
            หากท่านไม่ประสงค์ที่จะให้เราเก็บรวบรวมและใช้ข้อมูลส่วนบุคคลดังกล่าวต่อไป
            ท่านสามารถติดต่อมาที่เราเพื่อขอเพิกถอนความยินยอมของท่านเมื่อใดก็ได้ </p>

    </section>
    <section id="part-ten">
        <h4>10. การรักษาความปลอดภัย</h4>
        <div class="p1">
            <p>Meella จะดำเนินการด้วยการใช้มาตรการรักษาความปลอดภัย และการใช้บังคับประกาศอย่างเข้มงวด
                ในการเก็บรักษาข้อมูลส่วนบุคคลของท่านให้ปลอดภัย
                เพื่อรับรองว่าข้อมูลส่วนบุคคลของท่านจะได้รับความคุ้มครอง
                ซึ่งหมายรวมถึงการเข้ารหัสข้อมูล
                และมาตรการป้องกันการสูญหาย หรือใช้ หรือเข้าถึงข้อมูล โดยเรากำหนดให้ทีมงานของเรา
                และผู้รับจ้างภายนอกจะต้องปฏิบัติตามมาตรฐานและนโยบายความเป็นส่วนบุคคลที่เหมาะสม
                รวมถึงจะต้องจัดให้มีการดูแลรักษาข้อมูล
                และมีมาตรการที่เหมาะสมในการใช้ หรือการส่ง หรือโอนข้อมูลส่วนบุคคลของท่าน ทั้งนี้ กระบวนการใด ๆ
                อันเกี่ยวกับข้อมูลส่วนบุคคลนั้น
                จะสามารถกระทำได้เมื่อได้รับอนุญาต
            </p>
        </div>
        <div class="p2">
            <p>แต่กระนั้น การส่งผ่านข้อมูลทางอินเตอร์เน็ตยังคงมีความเสี่ยงที่ข้อมูลจะรั่วไหลได้
                แม้ว่าเราได้ดำเนินการอย่างดีที่สุดในการคุ้มครอง
                ข้อมูลส่วนบุคคลของท่าน
                อย่างไรก็ตามเราไม่สามารถรับรองความปลอดภัยในข้อมูลของท่านที่ส่งผ่านช่องทางออนไลน์ใด ๆ ได้
                ดังนั้น จึงขอให้ท่านพิจารณาความเสี่ยงในการส่งผ่านข้อมูลด้วยความระมัดระวัง
            </p>
        </div>


    </section>

    <section id="part-eleven">
        <h4>11. การติดต่อเรา</h4>
        <p>หากท่านมีข้อสงสัย หรือต้องการสอบถามรายละเอียดเพิ่มเติมเกี่ยวกับประกาศนโยบายความเป็นส่วนตัวของเรา<br>
            หรือต้องการขอใช้สิทธิของท่านตามที่ได้ระบุไว้ในประกาศนี้ โปรดติดต่อ Meella โดยใช้ช่องการติดต่ออีเมล
            Meellabusiness@gmail.com
        </p>
    </section>


    <section id="part-twelve">
        <h4>12. การเปลี่ยนแปลงประกาศ</h4>
        <p>
            Meella อาจทำการเปลี่ยนแปลงหรือแก้ไขเพิ่มเติมประกาศนโยบายความเป็นส่วนตัวนี้เป็นครั้งคราว
            และจะแจ้งให้ท่านทราบในกรณีที่มีการแก้ไขดังกล่าว<br>
            โดยเราจะประกาศประกาศนโยบายความเป็นส่วนตัวฉบับปัจจุบันไว้ที่แพลตฟอร์มของMeella
            โดยเป็นหน้าที่ของท่านในการอ่านและทบทวน<br>
            ประกาศนโยบายความเป็นส่วนตัวอยู่เสมอ
            ทั้งนี้การที่ท่านใช้บริการหรือมีส่วนรวมกับMeellaต่อไปภายหลังจากการเปลี่ยนแปลง<br>
            หรือแก้ไขเพิ่มเติมประกาศนี้ ให้ถือว่าท่านได้ยอมรับการเปลี่ยนแปลงหรือแก้ไขเพิ่มเติมประกาศดังกล่าวแล้ว

        </p>

    </section>

    <!--tab-->
    <nav class="sidebar close" id="navID">
        <button type="button" class="toggle" onclick="myFnc(this)" id="toggle-button"><span>Index</span>
            <img src="/img/Group.png" alt="arrow"></button>
        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#part-one">
                            <span class="text nav-text">1. Meella เก็บรวบรวมและนำข้อมูล<br>
                                ส่วนบุคคลของท่านไปใช้หรือเปิดเผย</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-two">
                            <span class="text nav-text">2. ข้อมูลส่วนบุคคลที่Meellaเก็บรวบรวม ใช้<br>
                                หรือเปิดเผย</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-three">
                            <span class="text nav-text">3. ข้อมูลส่วนบุคคลของผู้เยาว์</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-four">
                            <span class="text nav-text">4. แหล่งที่มาของข้อมูลส่วนบุคคลของท่าน</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-five">
                            <span class="text nav-text">5. สิทธิตามกฎหมาย</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-six">
                            <span class="text nav-text">6. การเปิดเผยข้อมูลส่วนบุคคล</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-seven">
                            <span class="text nav-text">7. ระยะเวลาการเก็บข้อมูลส่วนบุคคล</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-eight">
                            <span class="text nav-text">8. การใช้คุกกี้</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-nine">
                            <span class="text nav-text">9. การใช้ข้อมูลตามวัตถุประสงค์เดิม</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-ten">
                            <span class="text nav-text">10. การรักษาความปลอดภัย</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-eleven">
                            <span class="text nav-text">11. การติดต่อเรา</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-twelve">
                            <span class="text nav-text">12. การเปลี่ยนแปลงประกาศ</span>
                        </a>
                    </li>

                </ul>
            </div>


        </div>

    </nav>

</body>
<script src="/js/privacy_notice_full.js"></script>

</html>