<!DOCTYPE html>
<html>

<head>
    <title>Privacy notice</title>
    <link rel="stylesheet" href="/css/privacy_pop_up.css">
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans Thai Looped' rel='stylesheet'>
    <link rel="stylesheet" href="/css/font.css">
    <style>

    </style>

</head>

<body>
    <div class="modal">
        <div class="modal-container" id="modal_container">
            <section class="topic">
                <b>ความยินยอมในข้อมูลส่วนบุคคล</b>
                <p>Meella ให้ความสำคัญต่อความเป็นส่วนตัว เราจะทำงานอย่างดีที่สุดเพื่อรักษาความลับ<br>
                    และควบคุมข้อมูลส่วนบุคคลของคุณให้ปลอดภัย โดยความยินยอมและการจัดการข้อมูลส่วนบุคคล<br>
                    จะถูกแบ่งเป็นสามหัวข้อ อย่างไรก็ตามความยินยอมในส่วนนี้ไม่เป็นเงื่อนไขการรับบริการแต่อย่างใด<br>
                    และคุณสามารถถอนความยินยอมนี้ได้ทุกเมื่อ</p>

                <nav>
                    <p>อ่านเพิ่มเติม</p><a href=""><span>ประกาศนโยบายความเป็นส่วนตัว</span></a>
                </nav>
            </section>
            <!--box1-->
            <section class="box1">
                <div class="header"><span>ความยินยอมในการอำนวยความสะดวก และพัฒนาการใช้บริการ</span></div>

                <p>เพื่อให้คุณใช้งานได้สะดวก ตรงใจมากขึ้น เราอาจเก็บข้อมูลของคุณ และนำมาวิเคราะห์
                    ปรับปรุงบริการของเรา รวมไปถึงการอำนวยความสะดวก เพื่อให้ประสบการณ์ใช้งานที่รวดเร็ว
                    ตอบสนองต่อความต้องการและความพึงพอใจของผู้ใช้ คุณยินยอมให้ Meella เก็บรวบรวม นำไปใช้
                    และเปิดเผยข้อมูลของคุณเพื่อจุดประสงค์ที่กล่าวมาข้างต้น</p>
                <form action="" method="post">

                    <div class="radio-container">
                        <input type="radio" onclick="ClickAccept1()" id="accept1" name="check" value="accept">
                        <label for="accept1" class="accept_1">ยินยอม</label>
                        <input type="radio" onclick="ClickNonAccept1()" id="non-accept1" name="check"
                            value="non-accept">
                        <label for="non-accept1" class="non_accept1">ไม่ยินยอม</label>
                        <div id="nonaccept1">
                            Meella อาจใช้งานได้ไม่สะดวก ระบบจะไม่สามารถรู้ได้ว่าฟีเจอร์<br>
                            หรือเนื้อหาที่คุณชอบหรือใช้บ่อยคืออะไร และจะไม่สามารถนำฟีเจอร์เหล่านั้นออกมา<br>
                            ให้คุณใช้งานได้สะดวกรวดเร็วเท่าที่ควร
                        </div>
                    </div>
                </form>
            </section>
            <!--box2-->
            <section class="box2">
                <div class="header"><span>ความยินยอมในการให้เสนอและแจกสินค้า บริการ และโปรโมชั่นพิเศษต่าง ๆ</span></div>
                <p>เพื่อให้คุณได้รับส่วนลด โปรโมชั่น สิทธิพิเศษ หรือบริการต่าง ๆ จาก Meella<br>
                    หรือพันธมิตรคู่ค้าของเรา คุณยินยอมให้ Meella เก็บรวบรวม นำไปใช้<br>
                    และเปิดเผยข้อมูลของคุณเพื่อจุดประสงค์ที่กล่าวมาข้างต้น</p>
                <form action="" method="post">

                    <div class="radio-container">
                        <input type="radio" onclick="ClickAccept2()" id="accept2" name="check" value="accept">
                        <label for="accept2">ยินยอม</label>
                        <input type="radio" onclick="ClickNonAccept2()" id="non-accept2" name="check" value="non-accept">
                        <label for="non-accept2">ไม่ยินยอม</label>
                        <div id="nonaccept2">
                            คุณอาจจะพลาดข้อมูลข่าวสารส่วนลด ข้อเสนอพิเศษ โปรโมชั่น หรือบริการใหม่ ๆ จาก Meella
                        </div>

                    </div>
                </form>

            </section>
            <!--box3-->
        <section class="box3">
                <div class="header"><span>ความยินยอมในการทำการตลาด โฆษณา และนำเสนอสินค้า
                        หรือบริการแบบคัดสรรสำหรับคุณ</span></div>
                <p>เพื่อให้คุณได้รับข้อเสนอ โปรโมชั่น เนื้อหา สินค้า หรือบริการที่คัดสรรมาสำหรับคุณโดยเฉพาะ<br>
                    และเพื่อปรับปรุงและพัฒนาการให้บริการให้มีความทันสมัยและตอบโจทย์ความต้องการ<br>
                    ของคุณมากยิ่งขึ้น เราอาจเก็บข้อมูลของคุณมาวิเคราะห์ รวมถึงทำการโฆษณาต่างๆ<br>
                    คุณยินยอมให้ Meella เก็บรวบรวม นำไปใช้ และเปิดเผยข้อมูลของคุณ<br>
                    เพื่อจุดประสงค์ที่กล่าวมาข้างต้น</p>
                <form action="" method="post">
                    <div class="radio-container">
                        <input type="radio" onclick="ClickAccept3()" id="accept3" name="check" value="accept">
                        <label for="accept3">ยินยอม</label>
                        <input type="radio" onclick="ClickNonAccept3()" id="non-accept3" name="check" value="non-accept">
                        <label for="non-accept3">ไม่ยินยอม</label>
                        <div id="nonaccept3">
                            Meella จะไม่สามารถใช้ความชอบของคุณ ในการนำไปประมวลผล<br>
                                เพื่อหาร้านหรือเนื้อหาที่น่าจะตรงใจคุณ และฟีเจอร์ใหม่ล่าสุดของ Meella<br>
                                อาจจะทำงานไม่ดีเท่าที่ควร
                        </div>
                    </div>
                </form>


            </section>



            <a href="#" id="cancel"><input type="submit" onclick="Cancel()" class="btn solid" value="ยกเลิก"></a>
            <a href="#" id="confirm"><input type="submit" class="btn solid" value="ยืนยัน"></a>

        </div>
    </div>
    <script src="/js/privacy_pop_up.js"></script>
</body>

</html>