<!DOCTYPE html>
<html>

<head>
    <title>Terms & Conditions (Restaurant)</title>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans Thai Looped' rel='stylesheet'>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/RestaurantT&C.css">
    <style>
        body {
            background-image: url(/img/background.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: bottom center;
            margin: 0 auto;
        }
    </style>

</head>

<body>
    <section class="topic">
        <h1> ข้อกำหนดและเงื่อนไขการใช้บริการแพลตฟอร์ม</h1>
        <p>แก้ไขล่าสุดเมื่อวันที่ 20 เมษายน 2565</p>
    </section>
    <section id="part-one">
        <h4> 1. คำนิยาม</h4>
        <div class="one-1">
            <p>1.1. “สัญญาเพื่อขอใช้บริการ” หมายความถึง สัญญาเพื่อขอใช้บริการแพลตฟอร์ม รายการขอใช้บริการ
                คำขอเปลี่ยนแปลงข้อมูลบริการ และ/หรือ ข้อกำหนดและเงื่อนไขการใช้บริการแพลตฟอร์ม</p>
        </div>
        <div class="one-2">
            <p>1.2. “Meella” หมายความถึง โครงการ Meella ที่จัดทำขึ้นภายใต้ชมรม AIESEC แห่งจุฬาลงกรณ์มหาวิทยาลัย</p>
        </div>
        <div class="one-3">
            <p>1.3. “ผู้ขอใช้บริการ” หมายความถึง ผู้ขอใช้บริการแพลตฟอร์มที่เป็นร้านขายอาหาร ทั้งนี้
                จะมีหน้าร้านหรือไม่มีหน้าร้านก็ได้</p>
        </div>
        <div class="one-4">
            <p>1.3. “ผู้ขอใช้บริการ” หมายความถึง ผู้ขอใช้บริการแพลตฟอร์มที่เป็นร้านขายอาหาร ทั้งนี้
                จะมีหน้าร้านหรือไม่มีหน้าร้านก็ได้</p>
        </div>
        <div class="one-5">
            <p>1.5. “แพลตฟอร์ม” หมายความถึง แพลตฟอร์มให้บริการการจำหน่ายคูปองอาหารระหว่างผู้ขอใช้บริการและลูกค้า </p>
        </div>
        <div class="one-6">
            <p>1.6. “คูปองอาหาร” หมายความถึง ตั๋วอิเล็กทรอนิกส์เพื่อใช้ในการแลกรับอาหาร ประกอบด้วย ชื่อร้านอาหาร
                คิวอาร์โค้ด (QR Code) และวันหมดอายุของอาหาร</p>
        </div>
        <div class="one-7">
            <p>1.7. คำสั่งซื้อคูปองอาหาร หมายความถึง รายการคำสั่งซื้อคูปองอาหารที่เกิดขึ้นบนแพลตฟอร์มโดยลูกค้า</p>
        </div>
        <div class="one-8">
            <p>1.8. “การซื้อขาย” หมายความถึง เมื่อลูกค้าดำเนินการชำระเงินตามขั้นตอนที่กำหนดและได้รับคูปองอาหารแล้ว</p>
        </div>
        <div class="one-9">
            <p>1.9. “วันหมดอายุ” (Expiry Date) หมายความถึง
                วันเวลาที่ผู้ขอใช้บริการกำหนดสำหรับรายการอาหารที่ปรากฏบนแพลตฟอร์ม
                และวันเวลาดังกล่าวได้ผ่านพ้นไปแล้วจากวันเวลาที่ผู้ขอใช้บริการกำหนด</p>
        </div>
        <div class="one-10">
            <p>1.10. “ข้อมูลส่วนบุคคล” หมายความถึง
                ข้อมูลเกี่ยวกับบุคคลซึ่งทำให้สามารถระบุตัวตนได้ไม่ว่าทางตรงหรือทางอ้อม
                แต่ไม่รวมถึงข้อมูลของผู้ถึงแก่กรรมโดยเฉพาะ</p>
        </div>
        <div class="one-11">
            <p>1.11. “เจ้าของข้อมูลส่วนบุคคล” หมายความถึง บุคคลที่ข้อมูลส่วนบุคคลนั้นบ่งชี้ไปถึง </p>
        </div>
        <div class="one-12">
            <p>1.12. “รหัสประจำตัว” หมายความถึง รหัสประจำตัวบัญชีผู้ใช้งาน (User ID) รหัสผ่าน (Password) รหัส OTP - One
                Time Password และ/หรือ รหัสอื่นใดที่เกี่ยวข้องกับการเข้าใช้บริการแพลตฟอร์ม </p>
        </div>
        <div class="one-13">
            <p>1.13. “เหตุสุดวิสัย” หมายความถึง เหตุใด ๆ อันอยู่นอกเหนือการควบคุมของ Meella
                ซึ่งเป็นอุปสรรคต่อการให้บริการตามสัญญาเพื่อขอใช้บริการนี้ รวมถึงเป็นเหตุให้เกิดข้อขัดข้อง
                หรือข้อมูลผิดพลาด เช่น ระบบคอมพิวเตอร์ของ Meella หรือระบบสื่อสารขัดข้องเพราะกระแสไฟฟ้า
                หรือปัญหาด้านพลังงาน การกระทำของบุคคลภายนอก ไวรัสคอมพิวเตอร์ หรือข้อมูลที่เป็นอันตรายต่าง ๆ (Harmful
                Data) ซึ่งเหตุดังกล่าวไม่ได้มีสาเหตุมาจากการที่ Meella ไม่ดูแลรักษาระบบคอมพิวเตอร์อย่างเพียงพอตามมาตรฐาน
            </p>
        </div>
        <div class="one-14">
            <p>1.14. “รายการการใช้บริการ” หมายความถึง คำสั่ง รายการ หรือธุรกรรมต่าง ๆ เกี่ยวกับการใช้บริการผ่านแพลตฟอร์ม
                เช่น การลงทะเบียนและสร้างบัญชีผู้ใช้งานและเมนูอาหาร เป็นต้น</p>
        </div>
    </section>

    <section id="part-two">
        <h4>2. สิทธิและหน้าที่ของ Meella</h4>
        <div class="two-1">
            <p>2.1. เมื่อได้รับคำสั่งซื้อคูปองอาหารจากลูกค้าผ่านแพลตฟอร์มแล้ว Meella จะทำให้แน่ใจว่าคำสั่งซื้อ
                คูปองอาหารดังกล่าวจะมีการสื่อสารไปยังผู้ขอใช้บริการ</p>
        </div>
        <div class="two-2">
            <p>2.2. Meella
                เป็นผู้มีสิทธิแต่เพียงผู้เดียวในการเรียกเก็บราคาอาหารจากลูกค้าสำหรับคำสั่งซื้อคูปองอาหารแต่ละครั้งผ่านแพลตฟอร์ม
                โดยผู้ขอใช้บริการตกลงและรับทราบว่าลูกค้าอาจเลือกชำระราคาค่าอาหารด้วยการโอนเงินผ่านบัญชีธนาคาร
                หรือชำระโดยวิธีอื่น ทั้งนี้ จะเป็นดุลพินิจของ Meella แต่เพียงผู้เดียว</p>
        </div>
        <div class="two-3">
            <p>2.3. Meella จะทำการนำส่งเงินค่าอาหารให้ผู้ขอใช้บริการ
                เป็นยอดเงินในแต่ละการซื้อขายคูปองอาหารและที่ได้หักค่าบริการ ค่าธรรมเนียม รวมทั้งค่าใช้จ่ายใด ๆ
                ที่เกี่ยวเนื่องกับการใช้บริการนี้ โดย Meella จะนำส่งรายได้จากค่าอาหารภายใน 15 (สิบห้า)
                วันนับแต่วันที่ปรากฏบนคำสั่งซื้อคูปองอาหารนั้น</p>
        </div>
        <div class="two-4">
            <p>2.4. หากมีข้อร้องเรียนจากลูกค้า Meella
                จะทำการส่งข้อมูลที่เกี่ยวข้องให้ผู้ขอใช้บริการเพื่อจัดการข้อร้องเรียนจากลูกค้าต่อไป และ Meella
                อาจมีการเข้าไปตรวจสอบข้อร้องเรียนนั้นโดยไม่จำต้องแจ้งให้ผู้ขอใช้บริการทราบล่วงหน้า ทั้งนี้
                จะเป็นดุลพินิจของ Meella แต่เพียงผู้เดียว</p>
        </div>
        <div class="two-5">
            <p>2.5. Meella จะไม่รับผิดชอบในบรรดาความบกพร่อง ผิดพลาดประการใด ๆ อันเกิดแก่อาหาร
                ซึ่งรวมถึงแต่ไม่จำกัดเพียงกรณีที่ อาหารเสีย อาหารเป็นพิษ หรืออาหารส่งกลิ่นเหม็น เป็นต้น</p>
        </div>
        <div class="two-6">
            <p>2.6. เมื่อรายการอาหารของผู้ขอใช้บริการซึ่งปรากฏบนแพลตฟอร์มสิ้นสุดระยะเวลาที่ผู้ขอใช้บริการกำหนดวันหมดอายุ
                (Expiry Date) ไว้ โดยไม่มีการจำหน่าย Meella จะทำการลบรายการนั้นโดยอัตโนมัติ
                ไม่จำต้องแจ้งให้ผู้ขอใช้บริการทราบล่วงหน้า</p>
        </div>
    </section>

    <section id="part-three">
        <h4>3. สิทธิและหน้าที่ของผู้ขอใช้บริการ</h4>
        <div class="three-1">
            <p>3.1. ผู้ขอใช้บริการรับทราบว่า Meella เป็นผู้ให้บริการแพลตฟอร์มเท่านั้น
                ไม่ได้เป็นผู้จัดหาหรือให้บริการด้านอาหาร
                รวมทั้งไม่ได้เป็นบริษัทผู้ส่งอาหารที่ให้บริการขนส่งหรือทำหน้าที่เป็นผู้ขนส่ง
                และไม่ได้ทำหน้าที่หรือเป็นตัวแทนของบุคคลใด นอกจากนี้ Meella ไม่ใช่คู่สัญญาใน
                การสั่งอาหารระหว่างผู้ขอใช้บริการกับลูกค้า</p>
        </div>
        <div class="three-2">
            <p>3.2. ผู้ขอใช้บริการตกลงใช้บริการผ่านแพลตฟอร์มตามขั้นตอนและวิธีการที่ Meella กำหนด
                โดยในการใช้บริการในแต่ละครั้ง ผู้ขอใช้บริการ
                ตกลงและยินยอมให้ถือว่าผู้ใช้งานเป็นผู้ทำรายการการใช้บริการผ่านแพลตฟอร์ม
                โดยผลการกระทำของผู้ใช้งานให้ผูกพันผู้ขอใช้บริการ ทุกประการ
            </p>
        </div>
        <p>กรณีที่ผู้ใช้งานได้ดำเนินการเกี่ยวกับการใช้บริการ และ/หรือ การทำรายการ และ/หรือ กระทำการใด ๆ
            ผ่านแพลตฟอร์มในระหว่างที่มีอำนาจก่อนที่จะถูกยกเลิกหรือเปลี่ยนแปลงในภายหลัง ผู้ขอใช้บริการตกลงว่า
            การดำเนินการดังกล่าวมีผลใช้บังคับสำหรับการทำรายการนั้น ๆ และผูกพันผู้ขอใช้บริการทุกประการ</p>
        <div class="three-3">
            <p>3.3. รายการการใช้บริการ และ/หรือ การดำเนินการใด ๆ ผ่านแพลตฟอร์มที่ทำขึ้น ให้ถือว่ามีผลใช้บังคับโดยถูกต้อง
                สมบูรณ์ ผูกพันผู้ขอใช้บริการ และเป็นการดำเนินการโดยชอบและใช้บังคับได้ตามกฎหมาย
                และถือเป็นหลักฐานแห่งธุรกรรมอิเล็กทรอนิกส์และสามารถใช้เป็นต้นฉบับเพื่อเป็นพยานหลักฐานหรือใช้เป็นพยานหลักฐานในรูปแบบอื่นใดในกระบวนพิจารณาใด
                ๆ ภายใต้บังคับแห่งกฎหมายได้ โดยที่</p>
            <div class="three-3-1">
                <p>3.3.1. Meella ไม่ต้องสอบถามไปยังผู้ขอใช้บริการ หรือตรวจสอบความถูกต้อง อำนาจ
                    หรือตัวตนของผู้ขอใช้บริการ ใด ๆ ทั้งสิ้น</p>
            </div>
            <div class="three-3-2">
                <p>3.3.2. ผู้ขอใช้บริการไม่ต้องทำ และ/หรือ ลงนามในเอกสารอื่นใดอีก เว้นแต่ Meella
                    จะกำหนดไว้เป็นอย่างอื่นโดยชัดแจ้ง</p>
            </div>
        </div>
        <div class="three-4">
            <p>3.4. ผู้ขอใช้บริการตกลงและยอมรับ ดังนี้</p>
            <div class="three-4-1">
                <p>3.4.1. ผู้ใช้งานเป็นผู้ดูแลบัญชีผู้ใช้งาน (Account) ของผู้ขอใช้บริการทั้งหมดภายใต้แพลตฟอร์มนี้
                    โดยมีอำนาจในการดำเนินการต่าง ๆ เกี่ยวกับบัญชีผู้ใช้งานของผู้ขอใช้บริการ เช่น กำหนด เปลี่ยนแปลง
                    และ/หรือยกเลิกผู้ใช้งาน การสร้างข้อมูลร้านค้าของผู้ขอใช้บริการ (Profile) (เช่น สาขา เวลาเปิด-ปิด
                    เป็นต้น) การสร้างหมวดหมู่/ประเภท และเมนูอาหาร เป็นต้น และ/หรือ ดำเนินการเกี่ยวกับการใช้บริการ
                    และ/หรือ การทำรายการ การใช้บริการ และ/หรือ กระทำการใด ๆ ผ่านแพลตฟอร์ม
                    ทั้งนี้ผู้ขอใช้บริการสามารถเป็นผู้ใช้งานในขณะเดียวกันได้ด้วย</p>
            </div>
            <div class="three-4-2">
                <p>3.4.2. ในบัญชีผู้ใช้งานของผู้ขอใช้บริการต้องดำเนินการกำหนดวันหมดอายุ (Expiry Date)
                    ของอาหารไว้ในแพลตฟอร์มเสมอ และเมื่อเป็นกรณีที่ถึงวันหมดอายุ (Expiry Date)
                    และคูปองอาหารดังกล่าวยังถูกจำหน่ายไม่หมด ผู้ขอใช้บริการรับทราบและยินยอมว่า Meella
                    จะทำการลบรายการอาหารนั้นออกจากแพลตฟอร์มทันที โดยไม่จำต้องแจ้งให้ผู้ขอใช้บริการทราบล่วงหน้า </p>
            </div>
            <div class="three-4-3">
                <p>3.4.3. เมื่อ Meella ได้ดำเนินการตามรายการการใช้บริการแล้ว ถือว่า Meella
                    ได้ให้บริการโดยถูกต้องครบถ้วนและมีผลผูกพันผู้ขอใช้บริการทุกประการ</p>
            </div>
            <div class="three-4-4">
                <p>3.4.4. Meella หรือบุคคลที่ Meella มอบหมายอาจเข้าถึงหน้าจอการใช้บริการของผู้ขอใช้บริการ และ/หรือ
                    ผู้ใช้งาน เพื่อประโยชน์ในการให้คำแนะนำหรือแก้ไขปัญหาเกี่ยวกับการใช้บริการ</p>
            </div>
        </div>
        <div class="three-5">
            <p>3.5. ผู้ขอใช้บริการตกลงและรับรอง ดังนี้</p>
            <div class="three-5-1">
                <p>3.5.1. ข้อมูลต่าง ๆ ที่ผู้ใช้บริการได้ให้ไว้กับ Meella เช่น ข้อมูลอาหาร ราคาอาหาร รูปภาพอาหาร เป็นต้น
                    เป็นข้อมูลที่ถูกต้อง ครบถ้วน และเป็นจริงทุกประการ ไม่โฆษณาเกินจริง </p>
            </div>
            <div class="three-5-2">
                <p>3.5.2. ราคาอาหารที่ผู้ใช้บริการได้ให้ไว้กับ Meella จะต้องทำการลดราคาอย่างน้อยร้อยละ 15 (สิบห้า)
                    และต้องลดจากราคาต่ำกว่าหรือเท่ากับที่หน้าร้านของผู้ขอใช้บริการกำหนดราคาไว้
                    รวมทั้งปริมาณและคุณภาพอาหาร ต้องไม่น้อยกว่าอาหารที่ขายผ่านหน้าร้านของผู้ขอใช้บริการด้วย
                    นอกจากนี้ผู้ขอใช้บริการต้องกำหนดวันหมดอายุ (Expiry Date) ของอาหารให้ปรากฏบนแพลตฟอร์ม</p>
            </div>
            <div class="three-5-3">
                <p>3.5.3. ข้อมูลตามข้อ 3.5.1 หรือข้อมูลใด ๆ ที่ปรากฏบนแพลตฟอร์มของ Meella
                    จะต้องไม่เป็นข้อมูลที่ละเมิดลิขสิทธิ์ หรือทรัพย์สินทางปัญญาของบุคคลอื่น ไม่เข้าข่ายผิดกฎหมาย
                    ไม่เกี่ยวข้องกับการพนัน ยาเสพติด ไม่ล่อแหลมสื่อความไปในทางเพศ
                    ไม่ขัดต่อความสงบเรียบร้อยหรือศีลธรรมอันดีของประชาชน และไม่ส่งผลกระทบต่อภาพลักษณ์ของ Meella </p>
            </div>
            <div class="three-5-4">
                <p>3.5.4. ในทุกรายการอาหารที่ผู้ขอใช้บริการได้ดำเนินตามรายการสั่งอาหารที่ได้รับจากลูกค้าบนแพลตฟอร์ม
                    Meella ผู้ขอใช้บริการจะต้องตรวจสอบให้แน่ใจว่าเป็นอาหารที่ถูกสุขลักษณะ สามารถรับประทานได้
                    มีการบรรจุอาหารโดยคำนึงถึงลักษณะของอาหาร และเป็นไปตามที่ผู้ขอใช้บริการได้ใส่คำอธิบายหรือโฆษณาไว้ใน
                    Meella</p>
            </div>
            <div class="three-5-5">
                <p>3.5.5. ผู้ขอใช้บริการ และ/หรือ
                    ผู้ใช้งานต้องดำเนินการประกอบอาหารหรือเก็บอาหารตามคำสั่งซื้อคูปองอาหารทันที
                    นับแต่เวลาที่ทราบถึงการซื้อคูปองอาหาร</p>
            </div>
        </div>
        <div class="three-6">
            <p>3.6. เมื่อลูกค้านำคูปองอาหารมายื่นเพื่อขอรับอาหาร ผู้ขอใช้บริการ และ/หรือ
                ผู้ใช้งานต้องทำการสแกนคิวอาร์โค้ด (QR Code) จากคูปองอาหารเพื่อเป็นการยืนยันว่ามีการรับอาหารเรียบร้อยแล้ว
                ภายในระยะเวลาที่ลูกค้านำมายื่นที่ร้านอาหาร หรือภายในระยะเวลาอื่นใดตามที่ Meella
                จะกำหนดเปลี่ยนแปลงในภายหน้า </p>
            <span>เมื่อลูกค้ามารับอาหาร ผู้ขอใช้บริการ และ/หรือผู้ใช้งาน ต้องดำเนินการทำให้อาหารอยู่ในลักษณะสมบูรณ์
                พร้อมทานหรือลักษณะประการใด ๆ ตามที่ผู้ขอใช้บริการ และ/หรือผู้ใช้งานได้ระบุข้อมูลไว้บนแพลตฟอร์ม
                และส่งมอบอาหารให้กับลูกค้า</span>
        </div>
        <div class="three-7">
            <p>3.7. ในกรณีที่ลูกค้าโต้แย้งว่า จำนวนเงินค่าอาหารที่ได้ชำระ ผิดพลาดหรือไม่ถูกต้อง
                หรือได้ชำระเงินค่าอาหารแล้วแต่ไม่ได้รับอาหาร หรืออาหารที่ได้รับไม่ถูกต้อง
                หรือมีเหตุอื่นใดที่ต้องคืนเงินให้แก่ลูกค้า Meella
                มีดุลพินิจเพียงลำพังในการพิจารณาข้อโต้แย้งหรือเหตุดังกล่าว ผู้ขอใช้บริการตกลงยินยอมให้ Meella
                หักเงินออกจากจำนวนเงินที่ Meella จะต้องชำระให้แก่ผู้ขอใช้บริการในแต่ละคราวได้
                โดยไม่ต้องแจ้งให้ผู้ขอใช้บริการทราบล่วงหน้า </p>
            <div class="p7">
                <p>ในกรณีที่เงินดังกล่าวมีไม่เพียงพอ หาก Meella ได้ดำเนินการคืนเงิน และ/หรือ
                    ชดใช้ค่าเสียหายให้แก่ลูกค้าไปก่อน ผู้ขอใช้บริการตกลงยินยอมชำระเงินในส่วนที่ขาดให้แก่ Meella
                    ทันทีที่ได้รับแจ้งจาก Meella รวมทั้งตกลงยินยอมชำระดอกเบี้ยให้แก่ Meella</p>
                <span>อนึ่ง ในกรณีที่ Meella ร้องขอ
                    ผู้ขอใช้บริการตกลงให้ความร่วมมือในการตรวจสอบข้อเท็จจริงเกี่ยวกับความผิดพลาดที่เกิดขึ้นดังกล่าว</span>
            </div>
        </div>
        <div class="three-8">
            <p>3.8. กรณีที่มีข้อพิพาทเกี่ยวกับอาหาร รวมถึงแต่ไม่จำกัดเฉพาะ อาหารเป็นพิษ
                อาหารไม่ตรงกับคำสั่งซื้อคูปองอาหาร หรือโดยข้อพิพาทอื่นด้วยประการใด ๆ
                ผู้ขอใช้บริการตกลงรับผิดชอบในการเจรจาและระงับข้อพิพาทด้วยตนเอง โดยจะไม่เรียก Meella
                เข้าไปเป็นคู่ความหรือมีส่วนเกี่ยวข้องกับข้อพิพาทดังกล่าว รวมทั้งหากมีความเสียหายหรือความผิดพลาดใด ๆ
                เกิดขึ้น ผู้ขอใช้บริการตกลงรับผิดชอบค่าเสียหายที่เกิดขึ้นทั้งหมด </p>
        </div>
        <div class="three-9">
            <p>3.9. ผู้ขอใช้บริการตกลงและรับทราบดังนี้</p>
            <div class="three-9-1">
                <p>3.9.1. เมื่อผู้ขอใช้บริการตกลงยินยอมขอรับการใช้บริการ Meella จะส่ง Username และ Password
                    ให้ผู้ขอใช้บริการตามวิธีการที่ Meella กำหนด และผู้ขอใช้บริการจะต้องเปลี่ยน Password
                    เพื่อเข้าทำรายการการใช้บริการในแพลตฟอร์มต่อไป</p>
            </div>
            <div class="three-9-2">
                <p>3.9.2. กรณีที่ Password ถูกล็อค หรือผู้ขอใช้บริการลืม Password
                    ผู้ขอใช้บริการจะต้องดำเนินการตามขั้นตอนและวิธีการที่ Meella กำหนด</p>

            </div>
            <div class="p9">
                <p>ทั้งนี้ หากมีการใส่ Password ไม่ถูกต้องเกินกว่าจำนวนครั้งที่ Meella กำหนด Meella
                    มีสิทธิในการระงับการใช้บริการชั่วคราวสำหรับบัญชีผู้ใช้งาน (Account) นั้นได้ทันทีโดย Meella
                    ไม่ต้องรับผิดชอบใด ๆ ทั้งสิ้น</p>
                <span>หากผู้ขอใช้บริการประสงค์ยกเลิกการระงับการใช้บริการชั่วคราว
                    ผู้ขอใช้บริการต้องทำการยืนยันตัวตนตามขั้นตอน วิธีการและภายในระยะเวลาที่ Meella กำหนด ทั้งนี้
                    ดุลพินิจในการยกเลิกการระงับการใช้บริการชั่วคราวถือเป็นของ Meella แต่เพียงผู้เดียว</span>
            </div>
            <div class="three-9-3">
                <p>3.9.3. ผู้ขอใช้บริการ และ/หรือ
                    ผู้ใช้งานจะต้องดำเนินการเก็บรักษารหัสประจำตัวไว้เป็นความลับและในที่ปลอดภัย โดยต้องไม่แจ้ง เปิดเผย
                    หรือกระทำการใด อันอาจทำให้บุคคลอื่นใดทราบ และจะต้องดำเนินการด้วยความระมัดระวัง
                    เพื่อให้มั่นใจว่ารหัสประจำตัวจะถูกใช้เพื่อการเข้าถึงแพลตฟอร์มโดยผู้ขอใช้บริการ
                    และ/หรือผู้ใช้งานเท่านั้น</p>
            </div>
        </div>
    </section>


    <section id="part-four">
        <h4>4. ค่าบริการและค่าธรรมเนียม</h4>
        <div class="four-1">
            <p>4.1. ผู้ขอใช้บริการยินยอมให้ Meella เรียกเก็บค่าธรรมเนียมจากการใช้บริการ (“ค่าใช้บริการ”) เป็นจำนวนร้อยละ
                8 (แปด) ของยอดเงินในแต่ละการซื้อขาย และค่าธรรมเนียมในการโอนเงินให้ร้านค้าจำนวน 20 (ยี่สิบ) บาทต่อรอบบิล
                เว้นแต่จะแจ้งไว้เป็นอย่างอื่น ค่าใช้บริการจะต้องชำระให้แก่ Meella ทันทีและไม่สามารถเรียกคืนได้
                นโยบายการไม่คืนเงินนี้จะบังคับใช้ตลอดเวลาแม้สัญญาเพื่อขอใช้บริการจะสิ้นสุดลง</p>
        </div>
        <div class="four-2">
            <p>4.2. ผู้ขอใช้บริการยินยอมให้ Meella เป็นผู้รับชำระเงินจากลูกค้า และยินยอมให้ Meella หักเงิน ค่าบริการ
                ค่าใช้จ่าย ค่าธรรมเนียม ให้แล้วเสร็จก่อน แล้วจึงโอนเงินส่วนที่เหลือเข้าบัญชีรับเงินโดย Meella
                จะโอนเงินดังกล่าว ให้แก่ผู้ขอใช้บริการ ภายในวันจันทร์ของทุกสัปดาห์ หรือภายในระยะเวลาอื่นใดตามที่ Meella
                กำหนดเพิ่มเติมในภายหน้า โดย Meella จะทำการแจ้งให้ผู้ขอใช้บริการทราบเป็นคราว ๆ ไป</p>
        </div>
        <div class="four-3">
            <p>4.3. ในกรณีที่ผู้ขอใช้บริการแจ้งการเปลี่ยนแปลงบัญชีรับเงินตามขั้นตอนและวิธีการที่ Meella กำหนด
                ให้ข้อกำหนดและเงื่อนไขนี้มีผลใช้บังคับสำหรับ บัญชีรับเงินที่ได้เปลี่ยนแปลงทุกประการ</p>
        </div>
        <div class="four-4">
            <p>4.4. Meella มีสิทธิที่จะกำหนด เพิ่มเติม และ/หรือเปลี่ยนแปลง อัตราการคิดค่าธรรมเนียม ค่าบริการ และ/หรือ
                ค่าใช้จ่ายใด ๆ อย่างใดเมื่อใดก็ได้ โดย Meella จะแจ้งให้ผู้ขอใช้บริการทราบอย่างน้อย 3 (สาม)
                วันก่อนมีการกำหนด เพิ่มเติม หรือเปลี่ยนแปลงดังกล่าว</p>
        </div>
        <div class="four-5">
            <p>4.5. Meella ขอสงวนสิทธิ์แต่เพียงผู้เดียวในการระงับ ยึดหน่วง ทำให้ล่าช้า ยึด หรือยกเลิกธุรกรรมใด ๆ
                ของผู้ขอใช้บริการ หากมีเหตุให้เชื่อได้ว่าธุรกรรมนั้นอาจเกี่ยวข้องกับการฉ้อโกง การพนัน ผิดกฎหมาย
                หรืออาชญากรรม หรือเมื่อผู้ขอใช้บริการกระทำการผิดไปจากข้อกำหนดและเงื่อนไขสัญญาเพื่อขอใช้บริการนี้
                โดยไม่จำต้องแจ้งให้ผู้ขอใช้บริการทราบล่วงหน้า</p>
        </div>
    </section>

    <section id="part-five">
        <h4>5. การตลาดและการโฆษณา ส่วนลด</h4>
        <div class="five-1">
            <p>5.1. ผู้ขอใช้บริการตกลงให้ความช่วยเหลือ ให้การสนับสนุนและร่วมมือในกิจกรรมทางการตลาดและการโฆษณา และ/หรือ
                ประชาสัมพันธ์รายการส่งเสริมการขาย เพื่อการส่งเสริมการตลาดร่วมกันกับ Meella โดยจะวางป้าย และ/หรือ
                สื่อเพื่อการประชาสัมพันธ์ใด ๆ ซึ่ง Meella
                ได้จัดเตรียมไว้ให้ในบริเวณร้านค้าหรือสถานบริการของผู้ขอใช้บริการ ณ จุดที่สามารถสังเกตเห็นได้โดยง่าย
                รวมทั้งทำการโฆษณา และ/หรือ ประชาสัมพันธ์ในรูปแบบออนไลน์ตามที่ Meella กำหนด</p>
        </div>
        <div class="five-2">
            <p>5.2. บรรดาลิขสิทธิ์ และ/หรือทรัพย์สินทางปัญญาอื่นใดในสื่อโฆษณาประชาสัมพันธ์ที่ได้ทำขึ้น ให้ตกเป็น ของ
                Meella แต่เพียงฝ่ายเดียว ทั้งนี้ แต่ละฝ่ายตกลงยินยอมให้อีกฝ่ายหนึ่งมีสิทธิใช้ชื่อ โลโก้ ลิขสิทธิ์
                เครื่องหมายการค้า เครื่องหมายบริการ เครื่องหมายต่าง ๆ สิทธิในทรัพย์สินทางปัญญา และสิทธิอื่นใดทั้งปวง
                เพื่อใช้ประกอบสื่อโฆษณา ประชาสัมพันธ์หรือดำเนินการใด ๆ
                ที่อยู่ภายในขอบเขตหรือเกี่ยวเนื่องกับรายการส่งเสริมการขาย
                โดยจะต้องได้รับความเห็นชอบในรูปแบบและข้อความจากอีกฝ่ายหนึ่งก่อน </p>
        </div>
        <p>ทั้งนี้ หากมีกรณีบุคคลภายนอกมาฟ้องร้องหรือเรียกร้องให้ Meella ต้องรับผิดหรือชดใช้ค่าเสียหาย
            อันเนื่องมาจากการละเมิดลิขสิทธิ์ เครื่องหมายการค้า เครื่องหมายบริการ สิทธิในทรัพย์สินทางปัญญา
            และ/หรือสิทธิอื่นใดทั้งปวง ที่ Meella ได้รับอนุญาตจากผู้ขอใช้บริการแล้ว
            ผู้ขอใช้บริการตกลงรับผิดชดใช้ค่าเสียหายทั้งหมดแต่เพียงผู้เดียว</p>
    </section>

    <section id="part-six">
        <h4>6. สิทธิในทรัพย์สินทางปัญญา</h4>
        <div class="six-1">
            <p>6.1. ผู้ขอใช้บริการตกลงและยอมรับว่า แพลตฟอร์ม รวมถึงระบบอิเล็กทรอนิกส์
                และข้อมูลที่อยู่บนแพลตฟอร์มได้รับความคุ้มครองโดยกฎหมายลิขสิทธิ์ และ/หรือ กฎหมายใด ๆ
                เกี่ยวกับทรัพย์สินทางปัญญา ทั้งนี้ Meella ยังคงเป็นเจ้าของลิขสิทธิ์ ทรัพย์สินทางปัญญา สิทธิ และ/หรือ
                ผลประโยชน์ทั้งหลายทั้งปวงในแพลตฟอร์ม</p>
        </div>
        <div class="six-2">
            <p>6.2. อนึ่ง การที่ผู้ขอใช้บริการได้รับสิทธิในการใช้แพลตฟอร์ม
                ไม่ถือเป็นการโอนกรรมสิทธิ์หรือสิทธิในความเป็นเจ้าของใด ๆ อันเกี่ยวกับบริการ และ/หรือแพลตฟอร์ม
                หรือทรัพย์สินทางปัญญาอื่นใดที่ Meella เป็นเจ้าของ และในกรณีมีการกระทำใด ๆ กับ แพลตฟอร์ม หรือมีการอ้างอิง
                หรือใช้ข้อมูลจากแพลตฟอร์มโดยมิได้รับอนุญาตหรือมิชอบด้วยกฎหมาย ผู้ขอใช้บริการตกลงรับผิดชอบต่อ Meella</p>
        </div>
    </section>

    <section id="part-seven">
        <h4>7.ข้อตกลงทั่วไป </h4>
        <div class="seven-1">
            <p>7.1. สัญญาเพื่อขอใช้บริการฉบับนี้จะเข้าแทนที่ข้อตกลง จดหมายตอบโต้ การเจรจา คำรับรอง และการแสดงเจตใด ๆ
                เกี่ยวกับสาระสำคัญของสัญญาเพื่อขอใช้บริการ และ/หรือข้อกำหนดและเงื่อนไขทั่วไปของสัญญาเพื่อขอใช้บริการ
                ที่ได้มีขึ้นก่อนหน้านี้ ไม่ว่าจะเป็นลายลักษณ์อักษรหรือด้วยวาจาระหว่าง Meella และผู้ขอใช้บริการก็ตาม</p>
        </div>
        <div class="seven-2">
            <p>7.2. สัญญาเพื่อขอใช้บริการฉบับนี้ มีผลใช้บังคับตลอดระยะเวลา</p>
        </div>
        <div class="seven-3">
            <p>7.3. ผู้ขอใช้บริการตกลงว่าจะไม่ใช้แพลตฟอร์มเพื่อวัตถุประสงค์อื่นใด
                นอกจากวัตถุประสงค์ที่ระบุไว้ในสัญญาเพื่อขอใช้บริการเท่านั้น </p>
        </div>
        <div class="seven-4">
            <p>7.4. ผู้ขอใช้บริการตกลงจะไม่โอนสิทธิ หน้าที่หรือภาระผูกพันใด ๆ
                ของตนภายใต้สัญญาเพื่อขอใช้บริการไปให้บุคคลอื่น เว้นแต่จะได้รับความยินยอมเป็นลายลักษณ์อักษรจาก Meella
            </p>
        </div>
        <span>การให้ความยินยอมจาก Meella
            ไม่ถือเป็นเหตุให้ผู้ขอใช้บริการหลุดพ้นจากภาระหน้าที่และความรับผิดชอบของตนภายใต้สัญญาเพื่อขอใช้บริการ
            และผู้ขอใช้บริการยังคงต้องร่วมรับผิดชดใช้ค่าสินไหมทดแทนความเสียหายอย่างใด ๆ
            ที่เกิดจาการกระทำโดยจงใจหรือประมาทเลินเล่อของผู้รับโอนทุกประการ</span>
        <div class="seven-5">
            <p>7.5. ในกรณีที่ส่วนใดส่วนหนึ่งของสัญญาเพื่อขอใช้บริการนี้เป็นโมฆะ ไม่ชอบด้วยกฎหมาย
                ไม่มีผลบังคับใช้ได้ตามกฎหมาย หรือไม่สมบูรณ์ด้วยประการใด
                ผู้ขอใช้บริการตกลงให้สัญญาเพื่อขอใช้บริการส่วนอื่นซึ่งชอบด้วยกฎหมายยังคงมีผลสมบูรณ์และบังคับใช้ได้ตามกฎหมายต่อไป
            </p>
        </div>
    </section>

    <section id="part-eight">
        <h4>8. การระงับการให้บริการชั่วคราว ยกเลิกการให้บริการและบอกเลิกสัญญาเพื่อขอใช้บริการ</h4>
        <div class="eight-1">
            <p>8.1. Meella มีสิทธิระงับการให้บริการชั่วคราวเพื่อปรับปรุงหรือพัฒนาบริการหรือแพลตฟอร์ม
                หรือด้วยเหตุประการใดตามที่ Meella เห็นสมควร ในระยะเวลาที่ Meella กำหนด โดย Meella
                จะทำการแจ้งให้ผู้ขอใช้บริการทราบล่วงหน้าเป็นคราว ๆ ไป</p>
        </div>
        <div class="eight-2">
            <p>8.2. Meella มีสิทธิยกเลิกการให้บริการ หรือบอกเลิกสัญญาเพื่อขอใช้บริการฉบับนี้เมื่อใดก็ได้
                โดยแจ้งให้ผู้ขอใช้บริการทราบเป็นลายลักษณ์อักษรล่วงหน้าไม่น้อยกว่า 7 (เจ็ด) วัน
                เว้นแต่ด้วยเหตุประการใดประการหนึ่งดังต่อไปนี้ Meella
                มีสิทธิระงับหรือยกเลิกการให้บริการหรือบอกเลิกข้อกำหนดและเงื่อนไขของสัญญาเพื่อขอใช้บริการได้ทันที
                โดยไม่จำต้องบอกกล่าวล่วงหน้าแก่ผู้ขอใช้บริการและสิทธิในการระงับ/ยกเลิกให้บริการเป็นของ Meella
                แต่เพียงผู้เดียว</p>
            <div class="eight-2-1">
                <p>8.2.1. ผู้ขอใช้บริการกระทำการผิดคำรับรองหรือสัญญาเพื่อขอใช้บริการข้อใดข้อหนึ่ง</p>
            </div>
            <div class="eight-2-2">
                <p>8.2.2. ข้อมูลของผู้ขอใช้บริการที่ได้ให้ไว้แก่แพลตฟอร์มนั้นไม่ถูกต้อง ครบถ้วนหรือเป็นเท็จ</p>
            </div>
            <div class="eight-2-3">
                <p>8.2.3. Meella เห็นว่าการใช้บริการหรือการดำเนินกิจการของผู้ขอใช้บริการนั้น
                    อาจเป็นการขัดต่อกฎหมายหรือขัดต่อความสงบเรียบร้อยหรือศีลธรรมอันดีของประชาชน </p>
            </div>
            <div class="eight-2-4">
                <p>8.2.4. ผู้ขอใช้บริการเป็นผู้มีหนี้สินล้นพ้นตัว หรือเป็นบุคคลล้มละลาย
                    หรือสิ้นสภาพการเป็นนิติบุคคลหรือบุคคลไม่ว่าด้วยเหตุใดก็ตาม </p>
            </div>
            <div class="eight-2-5">
                <p>8.2.5. ในกรณีที่ Meella จำต้องปฏิบัติตามกฎหมาย กฎเกณฑ์หรือคำสั่งศาล พนักงานสอบสวน เจ้าหน้าที่รัฐ
                    หน่วยงานรัฐ หรือหน่วยงาน
                    ใด ๆ ที่มีอำนาจ
                </p>
            </div>
            <div class="eight-2-6">
                <p>8.2.6. ความจำเป็นอื่นซึ่ง Meella เห็นว่าไม่อาจแจ้งล่วงหน้าได้</p>
            </div>
        </div>
        <div class="eight-3">
            <p>8.3. กรณีผู้ขอใช้บริการประสงค์จะยกเลิกการใช้บริการ หรือบอกเลิกสัญญาเพื่อขอใช้บริการฉบับนี้
                ต้องบอกกล่าวเป็นลายลักษณ์อักษรให้แพลตฟอร์มทราบล่วงหน้าไม่น้อยกว่า 7 (เจ็ด) วัน</p>
        </div>
        <div class="eight-4">
            <p>8.4. กรณี Meella พบว่าอาหาร และ/หรือ ข้อความ รูปภาพ หรือข้อมูลใด ๆ ที่ผู้ขอใช้บริการแสดงบนแพลตฟอร์ม
                มีความไม่เหมาะสมหรือเข้าข่ายผิดกฎหมาย หรือขัดต่อความสงบเรียบร้อยหรือศีลธรรมอันดีของประชาชน
                หรือเหตุอื่นใด Meella มีสิทธิที่จะลบเนื้อหา และ/หรือ ข้อมูลดังกล่าวออกจากแพลตฟอร์มได้ทันที
                โดยไม่จำต้องบอกกล่าวให้ผู้ขอใช้บริการทราบล่วงหน้า</p>
        </div>
        <div class="eight-5">
            <p>8.5. การระงับการให้บริการ หรือการยกเลิกการให้บริการ ไม่ทำให้สิทธิ
                หน้าที่และความรับผิดทั้งหลายตามสัญญาเพื่อขอใช้บริการฉบับนี้ที่มีผลบังคับแล้วนั้นสิ้นสุดลง </p>
        </div>

    </section>

    <section id="part-nine">
        <h4>9. คำรับรองของผู้ขอใช้บริการ</h4>
        <p>ผู้ขอใช้บริการตกลงและให้คำรับรอง ดังต่อไปนี้</p>
        <div class="nine-1">
            <p>9.1. ผู้ขอใช้บริการมีความสามารถตามกฎหมายและมีอำนาจในการเข้าทำและปฏิบัติหน้าที่ภายใต้สัญญาเพื่อขอใช้บริการ
            </p>
        </div>
        <div class="nine-2">
            <p>9.2. การเข้าทำ และ/หรือ การปฏิบัติหน้าที่ของผู้ขอใช้บริการภายใต้สัญญาเพื่อขอใช้บริการ
                ไม่เป็นการฝ่าฝืนหรือขัดแย้งกับกฎหมายใด ๆ ซึ่งใช้บังคับกับผู้ขอใช้บริการ เอกสารจัดตั้งของผู้ขอใช้บริการ
                หรือข้อจำกัดตามสัญญาใด ๆ ซึ่งผูกพันหรือกระทบต่อผู้ขอใช้บริการ</p>
        </div>
        <div class="nine-3">
            <p>9.3. ผู้ขอใช้บริการมีใบอนุญาต หรือได้รับการอนุมัติ (ถ้ามี)
                ให้ประกอบกิจการจากหน่วยงานทางการของผู้ขอใช้บริการภายใต้กฎหมายที่บังคับใช้</p>
        </div>
        <div class="nine-4">
            <p>9.4. บุคคลที่กระทำการแทนของผู้ขอใช้บริการที่เข้าทำสัญญาเพื่อขอใช้บริการ
                มีอำนาจที่จะกระทำการแทนและผูกพันคู่ผู้ขอใช้บริการ</p>
        </div>
        <div class="nine-5">
            <p>9.5. ผู้ขอใช้บริการตกลงปฏิบัติตามกฎหมาย กฎ ประกาศ ระเบียบ ข้อกำหนดและกฎเกณฑ์ทางการที่เกี่ยวข้อง
                รวมทั้งที่จะมีการแก้ไขเพิ่มเติมในภายหน้าทุกประการ</p>
        </div>
    </section>

    <section id="part-ten">
        <h4>10. ความรับผิดและข้อยกเว้นความรับผิด</h4>
        <div class="ten-1">
            <p>10.1. บรรดาการกระทำใด ๆ ที่ Meella ได้กระทำไปตามสัญญาเพื่อขอใช้บริการ และ/หรือ
                ตามข้อมูลที่ผู้ขอใช้บริการได้แจ้งต่อ Meella และ/หรือ ตามคำร้องขอของผู้ขอใช้บริการ และ/หรือ
                ตามข้อกำหนดและเงื่อนไขการใช้บริการใด ๆ ของ Meella ไม่ว่าที่มีอยู่แล้วในขณะนี้หรือที่จะมีขึ้นในภายหน้า
                ให้มีผลผูกพันผู้ขอใช้บริการทุกประการ และ Meella ไม่ต้องรับผิดชอบในความเสียหายใด ๆ
                อันเกิดขึ้นแก่ผู้ขอใช้บริการ และ/หรือ บุคคลใด ๆ ไม่ว่าจะโดยประการใดทั้งสิ้น
                เว้นแต่เป็นความจงใจหรือประมาทเลินเล่อของ Meella เอง</p>
        </div>
        <div class="ten-2">
            <p>10.2. ผู้ขอใช้บริการตกลงและยอมรับว่า Meella ไม่ต้องรับผิดชอบในความผิดพลาด ความบกพร่อง
                หรือเหตุขัดข้องในการใช้บริการ
                อันเนื่องมาจากเหตุสุดวิสัย หรือเหตุอื่นใดที่อยู่นอกเหนือการควบคุมของ Meella นอกจากนี้ Meella
                จะไม่รับผิดชอบสำหรับความเสียหายที่เกิดโดยทางอ้อม รวมถึงการสูญเสียรายได้จากการใช้งาน ผลกำไร ข้อมูล ธุรกิจ
            </p>
        </div>
        <div class="ten-3">
            <p>10.3. กรณีที่ Meella จะต้องชำระค่าเสียหายใด ๆ ให้แก่ผู้ขอใช้บริการ Meella
                จะชำระตามความเสียหายที่เกิดขึ้นจริง แต่จำกัดความรับผิดสูงสุดไม่เกินค่าธรรมเนียมและค่าบริการที่ Meella
                ได้รับจากผู้ขอใช้บริการสำหรับรายการสั่งอาหารที่เกิดข้อพิพาทนั้น ๆ </p>
        </div>
        <div class="ten-4">
            <p>10.4. หากเกิดความเสียหายใด ๆ แก่ Meella อันเนื่องมาจากการให้บริการตามสัญญาเพื่อขอใช้บริการนี้
                ผู้ขอใช้บริการตกลงยินยอมรับผิดชอบชดใช้ค่าเสียหายต่าง ๆ ที่เกิดขึ้นทั้งหมดให้แก่ Meella
                ซึ่งรวมถึงจำนวนเงินที่ Meella ได้จ่าย และ/หรือ ถูกเรียกร้องจากลูกค้าหรือบุคคลอื่นใด และ/หรือ
                ค่าธรรมเนียมในการเตือน เรียกร้อง ทวงถาม ดำเนินคดี บังคับชำระหนี้ และ/หรือ ค่าใช้จ่ายใด ๆ
                เกี่ยวกับการฟ้องร้องดำเนินคดี พร้อมทั้งยินยอมเสียดอกเบี้ยของเงินจำนวนดังกล่าว นับแต่วันที่ Meella
                ได้รับความเสียหายหรือจ่ายเงิน จนกว่าผู้ขอใช้บริการจะชดใช้ค่าเสียหายดังกล่าวให้แก่ Meella
                จนเสร็จสิ้นครบถ้วน ทั้งนี้ หากมีข้อโต้แย้งระหว่างผู้ขอใช้บริการกับลูกค้า และ/หรือ บุคคลอื่น
                ผู้ขอใช้บริการจะรับผิดชอบในการเจรจาและระงับข้อพิพาท รวมทั้งหากมีความเสียหายหรือความผิดพลาดใด ๆ เกิดขึ้น
                ผู้ขอใช้บริการตกลงจะไม่เรียกร้องค่าเสียหายดังกล่าวจาก Meella แต่อย่างใดด้วย
            </p>
        </div>
    </section>

    <section id="part-11">
        <h4>11. การเก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคล </h4>
        <div class="eleven-1">
            <p>11.1. ผู้ขอใช้บริการ ตกลงและยินยอมให้ Meella เก็บรวบรวม ใช้ เปิดเผย ประมวลผล ข้อมูลส่วนบุคคล ได้แก่
                รายละเอียดส่วนบุคคล เช่น ชื่อสกุล เพศ วันเกิด อายุ, รายละเอียดการติดต่อ เช่น ที่อยู่ปัจจุบัน
                ที่อยู่สำหรับติดต่อทางไปรษณีย์ เบอร์โทร บัญชีสำหรับโซเชียลมีเดียสำหรับสื่อสารทางอิเล็กทรอนิกส์,
                รายละเอียดที่ใช้ในการยืนยันตัวบุคคล เช่น ภาพถ่ายบัตรประชาชน สำเนาสมุดบัญชีธนาคาร,
                รายละเอียดทางการเงินและข้อมูลเกี่ยวกับความสัมพันธ์ของผู้ขอใช้บริการกับ Meella เช่น
                ช่องทางและวิธีที่ผู้ขอใช้บริการปฏิสัมพันธ์กับMeella ประวัติการชำระเงินบันทึกการทำธุรกรรม เลขที่บัญชี
                ข้อมูลเกี่ยวกับการทำธุรกรรมของผู้ขอใช้บริการ, รายละเอียดทางเทคนิค เช่น ตำแหน่งจีพีเอสของผู้ขอใช้บริการ
                IP address, รายละเอียดเกี่ยวกับบัญชีผู้ใช้ เช่น ข้อมูลการเข้าใช้Meella สิ่งที่ระบุบัญชีผู้ใช้
                ชื่อบัญชีผู้ใช้และรหัสผ่าน ความสนใจและกิจกรรมการใช้งาน ข้อมูลรูปภาพ และ/หรือ ข้อมูลใด ๆ
                ของผู้ขอใช้บริการที่ให้ไว้แก่ Meella เพื่อวัตถุประสงค์ดังต่อไปนี้</p>
            <div class="eleven-1-1">
                <p>11.1.1. การส่งมอบบริการ และการจัดการเรื่องต่าง ๆ ที่เกี่ยวกับบริการ</p>
            </div>
            <div class="eleven-1-2">
                <p>11.1.2. ยืนยันตัวตนผู้ขอใช้บริการในการทำธุรกรรมใด ๆ</p>
            </div>
            <div class="eleven-1-3">
                <p>11.1.3. การสนับสนุนผู้ขอใช้บริการ เช่น การดำเนินการตามคำสั่งของผู้ขอใช้บริการ การตอบข้อสงสัย
                    ข้อเสนอแนะ สืบสวนและจัดการความกังวล
                    การแจ้งผู้ขอใช้บริการเกี่ยวกับขั้นตอนการดำเนินการเพื่อแก้ปัญหาด้านการสนับสนุนผู้ขอใช้บริการ</p>
            </div>
            <div class="eleven-1-4">
                <p>11.1.4. การติดตาม หรือบันทึกธุรกรรมของผู้ขอใช้บริการ</p>
            </div>
            <div class="eleven-1-5">
                <p>11.1.5. การจัดทำรายการต่าง ๆ เช่น รายการการทำธุรกรรมตามที่ผู้ขอใช้บริการร้องขอ
                    หรือการทำรายการภายในของ Meella</p>
            </div>
            <div class="eleven-1-6">
                <p>11.1.6. การแจ้งเตือนการทำธุรกรรม</p>
            </div>
            <div class="eleven-1-7">
                <p>11.1.7. ดำเนินการหรือเข้าทำธุรกรรม และ/หรือชำระเงิน </p>
            </div>
            <div class="eleven-1-8">
                <p>11.1.8. ประโยชน์โดยชอบด้วยกฎหมายของ Meella ซึ่งรวมถึงแต่ไม่จำกัดเฉพาะดังต่อไปนี้ การบริหารกิจการของ
                    Meella
                    การบริหารความสัมพันธ์ระหว่าง Meella กับผู้ขอใช้บริการ ป้องกันความเสี่ยงด้านความปลอดภัย
                    บริหารจัดการภายในที่จำเป็นในการให้บริการของ Meella
                </p>
            </div>
            <div class="eleven-1-9">
                <p>11.1.9. การปฏิบัติตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล และ/หรือ กฎหมายที่ Meella
                    ต้องปฏิบัติตามทั้งในประเทศและต่างประเทศ และ/หรือ การปฏิบัติตามกฎระเบียบ คำสั่งของผู้มีอำนาจ เช่น
                    คำสั่งศาล คำสั่งของหน่วยงานรัฐ หรือพนักงานเจ้าหน้าที่ผู้มีอำนาจ</p>
            </div>
        </div>
        <div class="eleven-2">
            <p>11.2. Meella ขอแจ้งให้ทราบว่า Meella
                มีความจำเป็นต้องเก็บรวบรวมข้อมูลส่วนบุคคลตามกฎหมายหรือเพื่อการเข้าทำสัญญาระหว่าง Meella
                กับผู้ขอใช้บริการ หากผู้ขอใช้บริการเลือกที่จะไม่ให้ข้อมูลส่วนบุคคล Meella
                อาจไม่สามารถให้บริการแก่ผู้ขอใช้บริการได้ </p>
        </div>
        <div class="eleven-3">
            <p>11.3. ทั้งนี้ เพื่อให้สอดคล้องกับวัตถุประสงค์ของ Meella Meella
                จึงขอเรียนให้ผู้ขอใช้บริการทราบว่าเมื่อมีการเก็บรวบรวมข้อมูลส่วนบุคคลของผู้ขอใช้บริการ
                เป็นไปเพื่อวัตถุประสงค์ทางการวิจัย
                และวิเคราะห์เพื่อประโยชน์ในการพัฒนาผลิตภัณฑ์และบริการที่ตอบสนองต่อความต้องการของผู้ขอใช้บริการ และ/หรือ
                การติดต่อเพื่อเสนอผลิตภัณฑ์ บริการและสิทธิประโยชน์ที่เหมาะสม โดย Meella
                จะขอความยินยอมจากผู้ขอใช้บริการก่อน </p>
        </div>
        <p>เช่นเดียวกับเมื่อมีการเปิดเผยข้อมูลส่วนบุคคลของผู้ขอใช้บริการ ต่อพันธมิตรทางธุรกิจที่เชื่อถือได้ของ Meella
            เพื่อวิจัย วิเคราะห์ข้อมูลส่วนบุคคลของผู้ขอใช้บริการ
            เพื่อประโยชน์สูงสุดในการพัฒนาผลิตภัณฑ์และบริการที่ตอบสนองความต้องการของผู้ขอใช้บริการอย่างแท้จริง Meella
            จะขอความยินยอมจากผู้ขอใช้บริการก่อน</p>

        <div class="eleven-4">
            <p>11.4. นอกจากนี้ Meella มีความจำเป็นต้องเก็บ รวบรวม ใช้ หรือเปิดเผยเอกสารระบุตัวตนของผู้ขอใช้บริการ
                ในการพิสูจน์และยืนยันตัวตนของผู้ขอใช้บริการก่อนทำธุรกรรม เช่น ใช้ภาพบัตรประชาชนของผู้ขอใช้บริการ
                ซึ่งในบัตรดังกล่าวประกอบด้วยข้อมูลส่วนบุคคลประเภทอ่อนไหว ได้แก่ ศาสนา โดย Meella
                อาจขอให้ผู้ขอใช้บริการดำเนินการขีดฆ่าหรือปิดทับข้อมูลส่วนบุคคลประเภทอ่อนไหว (Sensitive Personal Data)
                ด้วยตัวของผู้ขอใช้บริการ มิฉะนั้น Meella
                จะดำเนินการขีดฆ่าหรือปิดทับส่วนที่เป็นข้อมูลส่วนบุคคลประเภทความอ่อนไหวของผู้ขอใช้บริการโดยไม่จำเป็นต้องแจ้งให้ผู้ขอใช้บริการทราบ
            </p>
        </div>
        <div class="eleven-5">
            <p>11.5. ผู้ขอใช้บริการรับทราบว่า Meella
                จะเก็บรักษาข้อมูลส่วนบุคคลของผู้ขอใช้บริการตลอดระยะเวลาที่ผู้ขอใช้บริการมีสัญญากับ Meella ตลอดจนระยะเวลา
                1 (หนึ่ง) ปีภายหลังจากที่ผู้ขอใช้บริการสิ้นสุดความสัมพันธ์กับ Meella อย่างไรก็ตาม Meella
                อาจเก็บข้อมูลของผู้ขอใช้บริการไว้นานกว่านี้
                เพื่อตรวจสอบธุรกรรมต้องสงสัยที่ผู้ขอใช้บริการหรือบุคคลที่เกี่ยวข้องอาจแจ้งมายังMeella
                หรือกรณีที่มีเหตุอันควรว่าจะเป็นข้อพิพาทหรือคดีความ ทั้งนี้ตามที่มีกฎหมายที่เกี่ยวข้องให้อำนาจไว้ </p>
        </div>
        <div class="eleven-6">
            <p>11.6. Meella อาจเปิดเผยข้อมูลส่วนบุคคลของผู้ขอใช้บริการต่อบุคคลอื่น ได้แก่
                ผู้ให้บริการประมวลผลและอำนวยความสะดวกในการชำระเงิน, ผู้ให้บริการตรวจสอบประวัติ,
                ผู้ให้บริการจัดเก็บข้อมูลคลาว์ (Cloud), ผู้ให้บริการ Customer Service, ผู้ให้บริการด้าน IT,
                ผู้ให้บริการวิเคราะห์ข้อมูล, พาร์ทเนอร์ด้านการวิจัย, พาร์ทเนอร์ด้านประกันภัยและการเงิน,
                ผู้ให้บริการยืนยันตัวตน นอกจากนี้ Meella อาจเปิดเผยข้อมูลเพื่อปฏิบัติตามกฎหมาย เช่น
                การเปิดเผยต่อหน่วยงานของรัฐที่มีอำนาจ หรือองค์กรอื่น ทั้งนี้ภายใต้หลักเกณฑ์ทางกฎหมาย
                และมาตรการความปลอดภัยที่เหมาะสม</p>
        </div>
        <div class="eleven-7">
            <p>11.7. ผู้ขอใช้บริการสามารถใช้สิทธิของเจ้าของข้อมูลส่วนบุคคลตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล
                ตามช่องทางที่ Meella กำหนด ได้แก่ สิทธิในการเข้าถึงและขอรับสำเนาข้อมูลส่วนบุคคล,
                สิทธิการขอแก้ไขข้อมูลส่วนบุคคล, สิทธิการขอให้ลบข้อมูล, สิทธิการขอให้ระงับการใช้ข้อมูล,
                สิทธิคัดค้านการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูล, สิทธิขอรับหรือขอให้โอนข้อมูล รวมถึงสิทธิในการร้องเรียน
                กรณีที่ Meella กระทำการอันเป็นการไม่ปฏิบัติตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล ทั้งนี้เว้นเสียว่า
                Meella มีเหตุอันชอบด้วยกฎหมายในการปฏิเสธคำขอของผู้ขอใช้บริการ เช่น
                การปฏิบัติตามกฎหมายหรือคำสั่งศาลหรือกรณีที่คำขอของผู้ขอใช้บริการมีผลกระทบที่อาจก่อให้เกิดความเสียหายต่อสิทธิเสรีภาพของบุคคลอื่น
                เป็นต้น
                โดยหากผู้ขอใช้บริการมีข้อสงสัยหรือต้องการสอบถามรายละเอียดเพิ่มเติมเกี่ยวกับใช้สิทธิตามที่ได้ระบุไว้ในสัญญานี้
                สามารถติดต่อผู้ควบคุมข้อมูลส่วนบุคคลได้ที่ อีเมล : Business@meella.org</p>
        </div>
        <div class="eleven-8">
            <p>11.8. ทั้งนี้ Meella อาจเปลี่ยนแปลงหรือแก้ไขเพิ่มเติมรายละเอียดเกี่ยวกับการเก็บรวบรวม ใช้
                หรือเปิดเผยข้อมูลส่วนบุคคลเป็นครั้งคราว โดย Meella จะดำเนินการแจ้งผู้ขอใช้บริการสำหรับการเปลี่ยนแปลงนั้น
            </p>
        </div>
    </section>

    <section id="part-twelve">
        <h4>12. การรักษาข้อมูลเป็นความลับ</h4>
        <p>คู่สัญญาตกลงว่าข้อมูลที่ไม่เปิดเผยต่อสาธารณะที่เกี่ยวข้องกับเนื้อหาและความถูกต้องของสัญญานี้จะไม่ถูกเปิดเผยต่อบุคคลที่สาม
            ยกเว้น </p>
        <div class="twelve-1">
            <p>12.1. ต่อบริษัทในเครือ กรรมการ เจ้าหน้าที่ พนักงาน ตัวแทน และ/หรือ ที่ปรึกษาของคู่สัญญาแต่ละฝ่าย
                (ถ้าจำเป็น) และ/หรือ
            </p>
        </div>
        <div class="twelve-2">
            <p>12.2. ในขอบเขตที่กำหนดโดยกฎหมาย ระเบียบข้อบังคับ หรือกระบวนการทางกฎหมาย
                หรือร้องขอโดยหน่วยงานของรัฐหรือหน่วยงานกำกับดูแลใด ๆ </p>
        </div>
        <p class="p2">
            โดยภาระผูกพันในการรักษาความลับของคู่สัญญาทั้งสองฝ่ายจะคงอยู่แม้หลังจากการบอกเลิกสัญญาเพื่อขอใช้บริการนี้</p>
    </section>

    <section id="part-13">
        <h4>13. การส่งคำบอกกล่าว</h4>
        <div class="p-13-1">
            <p>13.1. คำบอกกล่าว เอกสาร หนังสือ หรือข้อมูลใด ๆ ที่ Meella ได้ส่งไปยังผู้ขอใช้บริการตามที่อยู่
                หมายเลขโทรศัพท์ อีเมล ตามที่ผู้ขอใช้บริการได้ให้ไว้กับ Meella หรือตามที่ Meella ได้รับแจ้งแก้ไข
                เปลี่ยนแปลงแล้ว ทางไปรษณีย์ ข้อความ SMS หรืออีเมล หรือการสื่อสารทางอิเล็กทรอนิกส์อื่นใด
                ให้ถือว่าได้ส่งให้ผู้ขอใช้บริการแล้วโดยชอบด้วยกฎหมาย ถูกต้อง และ
                ผู้ขอใช้บริการได้ทราบถึงคำบอกกล่าว เอกสาร หนังสือ หรือข้อมูลนั้น ๆ แล้ว
            </p>
        </div>
        <div class="p-13-2">
            <p>13.2. ผู้ขอใช้บริการสามารถส่งคำบอกกล่าว เอกสาร หนังสือ หรือข้อมูลใด ๆ ให้ Meella ตามที่อยู่ดังต่อไปนี้
            </p>
            <div class="p-13-2-1">
                <p>13.2.1. Meellabusiness@gmail.com</p>
            </div>
            <div class="p-13-2-2">
                <p>13.2.2. ช่องทางติดต่ออื่นที่ Meella ได้ให้ไว้</p>
            </div>
        </div>
        <div class="p-13-3">
            <p>13.3. คำบอกกล่าว เอกสาร หนังสือ หรือข้อมูลใด ๆ ที่ Meella ได้รับจากผู้ขอใช้บริการให้ถือว่าเป็นคำบอกกล่าว
                เอกสาร หนังสือ หรือข้อมูลของผู้ขอใช้บริการที่ถูกต้องแท้จริง
                เป็นไปตามความประสงค์โดยถูกต้องของผู้ขอใช้บริการและมีผลผูกพันผู้ขอใช้บริการทุกประการ</p>
        </div>
    </section>
    <section id="part-14">
        <h4>14. กฎหมายที่ใช้บังคับ </h4>
        <p>สัญญาเพื่อขอใช้บริการฉบับนี้ และการใช้บริการต่าง ๆ บนแพลตฟอร์มนี้อยู่ในบังคับ ให้ตีความตามกฎหมายไทย
            ข้อพิพาทที่เกิดขึ้นหรือมีความเกี่ยวพันกับการใช้บริการบนแพลตฟอร์ม อยู่ภายใต้เขตอำนาจการพิจารณาของศาลไทย</p>
    </section>
    <!--tab-->
    <nav class="sidebar close" id="navID">
        <button type="button" class="toggle" onclick="myFnc(this)" id="toggle-button"><span>Index</span>
            <img src="/img/Group.png" alt="arrow"></button>
        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#part-one">
                            <span class="text nav-text">1. คำนิยาม</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-two">
                            <span class="text nav-text">2. สิทธิและหน้าที่ของ Meella</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-three">
                            <span class="text nav-text">3. สิทธิและหน้าที่ของผู้ขอใช้บริการ</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-four">
                            <span class="text nav-text">4. ค่าบริการและค่าธรรมเนียม
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-five">
                            <span class="text nav-text">5. การตลาดและการโฆษณา ส่วนลด</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-six">
                            <span class="text nav-text">6. สิทธิในทรัพย์สินทางปัญญา
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-seven">
                            <span class="text nav-text">7.ข้อตกลงทั่วไป
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-eight">
                            <span class="text nav-text">8. การระงับการให้บริการชั่วคราว<br>
                                ยกเลิกการให้บริการและบอกเลิกสัญญาเพื่อ<br>
                                ขอใช้บริการ
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-nine">
                            <span class="text nav-text">9. คำรับรองของผู้ขอใช้บริการ
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-ten">
                            <span class="text nav-text">10. ความรับผิดและข้อยกเว้นความรับผิด
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-11">
                            <span class="text nav-text">11. การเก็บรวบรวม ใช้<br> และเปิดเผยข้อมูลส่วนบุคคล
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-twelve">
                            <span class="text nav-text">12. การรักษาข้อมูลเป็นความลับ
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-13">
                            <span class="text nav-text">13. การส่งคำบอกกล่าว
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-14">
                            <span class="text nav-text">14. กฎหมายที่ใช้บังคับ
                            </span>
                        </a>
                    </li>
                </ul>
            </div>


        </div>

    </nav>

</body>
<script src="/js/RestaurantT&C.js"></script>

</html>