<!DOCTYPE html>
<html>

<head>
    <title>Sign up</title>
    <style>

    </style>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/sign up.css">
</head>

<body>
    <div class="container-fluid">
        <img src="/img/Rectangle 1382 left.png" alt="Rectangle1382left">
        <img src="/img/Group 1129.png" alt="Group1129">
        <p1>I am a customer!</p1>
        <img src="/img/Group 1128.png" alt="Group1128">

        <img src="/img/Rectangle1382left.png" alt="Rectangle1382left">
        <img src="/img/Group1129.png" alt="Group1129">
        <p1>I am a customer!</p1>
        <img src="/img/Group1128.png" alt="Group1128">

        <p2>I am a store!</p2>

        <nav>
            <div class="customer">
                <a href="sign up customer.html"><input type="submit" value="Signup as a customer"></a>
            </div>
            <div class="store">
                <a href="#.html"><input type="submit" value="Signup as a store"></a>
            </div>


        </nav>
    </div>




</body>

</html>