<!DOCTYPE html>
<html>

<head>
    <title>Sign Up (Store)</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/store1.css">
    <style>

    </style>


</head>
<style>
    .checkbox input[type="checkbox"]:checked {
        background-image: url(/img/fi_check.png);

    }
</style>

<body>
    <div class="container-fluid">
        <h1>Sign Up</h1>

        <img src="/img/Rectangle 1382 store.png" alt="Rectangle1382">
        <img src="/img/Vector1.png" alt="Vector1">
        <img src="/img/house.png" alt="pic">

        <img src="/img/Rectangle1382store.png" alt="Rectangle1382">
        <img src="/img/Vector1.png" alt="Vector1">
        <img src="/img/house.png" alt="pic">

        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
        <form action="" method="post">
            <label1>Username</label1>
            <div class="txt_username">
                <input type="Username" required>
            </div>
            <label2>Email</label2>
            <div class="txt_email">
                <input type="Email" required>
            </div>
            <label3>Password</label3>
            <div class="txt_password">
                <img src="/img/Eye.jpg" id="ShowPassword" onclick="HidePassword()">
                <img src="/img/Eye_slash.png" id="togglePassword" onclick="HidePassword()">
                <input type="password" id="password">
            </div>
            <label4>Phone number</label4>
            <div class="txt_phone">
                <input type="Phone_number" required>
            </div>
            <div class="checkbox">
                <input type="checkbox">
            </div>
            <div class="condition">
                <span>Creating an account means you accept our </span>
                <a href="#">Terms & Conditions</a>
            </div>
    </div>

    </form>
    <div class="next">
        <input type="submit" class="btn solid" value="Next">
        <p>Already a member?</p><a href="#" class="sign_in"> Sign in</a>
    </div>

    </div>
    <script src="/js/sign-up-store1.js"></script>
</body>

</html>