<!DOCTYPE html>
<html>

<head>

    <title>Sign Up (Store)</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/sign-up-store3.css">
</head>
<style>

</style>

<body>

    <div class="container-fluid">
        <img src="/img/Group 1129.png" alt="Group1129">

        <img src="/img/Group1129.png" alt="Group1129">

        <a href="#" class="view_shop"><input type="submit" class="btn solid" value="View your shop"></a>
    </div>

</body>

</html>