<!DOCTYPE html>
<html>

<head>
    <title>User T&C</title>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans Thai Looped' rel='stylesheet'>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/UserT&C.css">
    <style>
        body {
            background-image: url(/img/background.png);
            background-size: 100% 35%;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: bottom center;
            margin: 0 auto;
        }
    </style>

</head>

<body>
    <section class="topic">
        <h1>ข้อกำหนดและเงื่อนไขการใช้บริการ</h1>
        <p>แก้ไขล่าสุดเมื่อวันที่ 20 เมษายน 2565</p>
    </section>

    <section id="part-one">
        <h4>1. คำนิยาม</h4>
        <div class="one-one">
            <p>1.1 “ข้อกำหนดและเงื่อนไขการใช้บริการ” หมายความถึง ข้อกำหนดและเงื่อนไขการใช้บริการ Meella
                ผ่านแพลตฟอร์ม เกี่ยวกับบริการสั่งซื้อคูปองอาหารที่ได้ระบุไว้ในเงื่อนไขการใช้บริการฉบับนี้
                ซึ่งอาจมีการแก้ไข และ/หรือ ปรับปรุงให้เป็นปัจจุบันเป็นคราว ๆ
            </p>
        </div>
        <div class="one-two">
            <p>1.2 “Meella” หมายความถึง โครงการ Meella ที่จัดทำขึ้นภายใต้ชมรม AIESEC แห่งจุฬาลงกรณ์มหาวิทยาลัย</p>
        </div>
        <div class="one-three">
            <p>1.3 “ผู้ใช้บริการ” หมายความถึง บุคคลผู้เป็นเจ้าของแอคเคาท์ (Account)
                ตามที่ได้ให้ข้อมูลเอาไว้สั่งซื้อคูปองอาหาร โดยการทำรายการการใช้บริการผ่านแพลตฟอร์มตามที่ Meella
                กำหนด
            </p>
        </div>
        <div class="one-four">
            <p>1.4 “ร้านค้า” หมายความถึง ร้านอาหาร และ/หรือ บุคคลภายนอกที่เป็นอิสระ ที่ลงทะเบียนเข้าร่วมใช้บริการ
                Meella ผ่านแพลตฟอร์มในส่วนร้านค้า มีหน้าที่ต้องดําเนินการทําให้อาหารอยู่ในลักษณะสมบูรณ์
                พร้อมทานหรือลักษณะประการ ใด ๆ ตามที่ร้านค้าได้ระบุข้อมูลไว้บนแพลตฟอร์ม
                และส่งมอบอาหารให้กับผู้ใช้บริการ</p>
        </div>
        <div class="one-five">
            <p>1.5 “แพลตฟอร์ม” หมายความถึง แพลตฟอร์มให้บริการการจำหน่ายคูปองอาหารระหว่างร้านค้าและผู้ใช้บริการ
            </p>
        </div>
        <div class="one-six">
            <p>1.6 “คูปองอาหาร” หมายความถึง ตั๋วอิเล็กทรอนิกส์เพื่อใช้ในการแลกรับอาหาร ประกอบด้วย ชื่อร้านอาหาร
                คิวอาร์โค้ด (QR Code) และวันหมดอายุของอาหาร
            </p>
        </div>
        <div class="one-seven">
            <p>1.7 “คําสั่งซื้อคูปองอาหาร” หมายความถึง รายการคําสั่งซื้อคูปองอาหารที่เกิดขึ้นบนแพลตฟอร์มโดยลูกค้า
            </p>
        </div>
        <div class="one-eight">
            <p>1.8 “มูลค่าคูปองอาหาร” หมายความถึง ราคาของคูปองอาหารตามที่ปรากฎบนแพลตฟอร์ม
            </p>
        </div>
        <div class="one-nine">
            <p>1.9 “การซื้อขาย” หมายความถึง
                เมื่อผู้ใช้บริการดำเนินการชำระเงินตามขั้นตอนที่กำหนดและได้รับคูปองอาหารแล้ว
            </p>
        </div>
        <div class="one-ten">
            <p>1.10 “ข้อมูลส่วนบุคคล” หมายความถึง
                ข้อมูลเกี่ยวกับบุคคลซึ่งทำให้สามารถระบุตัวตนได้ไม่ว่าทางตรงหรือทางอ้อม
                แต่ไม่รวมถึงข้อมูลของผู้ถึงแก่กรรมโดยเฉพาะ
            </p>
        </div>
        <div class="one-eleven">
            <p>1.11 “ประกาศนโยบายความเป็นส่วนตัว” หมายความถึง
                ประกาศความเป็นส่วนตัวซึ่งสามารถเข้าถึงได้ที่ลิงก์บนแพลตฟอร์ม ซึ่งมีการเปลี่ยนแปลงเป็นครั้งคราว
            </p>
        </div>
        <div class="one-twelve">
            <p>1.12 “เหตุสุดวิสัย” หมายความถึง เหตุใด ๆ อันอยู่นอกเหนือการควบคุมของ Meella
                ซึ่งเป็นอุปสรรคต่อการให้บริการตามข้อกำหนด
                และเงื่อนไขการใช้บริการนี้ รวมถึงเป็นเหตุให้เกิดข้อขัดข้อง หรือข้อมูลผิดพลาด เช่น ระบบคอมพิวเตอร์ของ
                Meella หรือระบบสื่อสารขัดข้อง
                เพราะกระแสไฟฟ้า หรือปัญหาด้านพลังงาน การกระทำของบุคคลภายนอก ไวรัสคอมพิวเตอร์
                หรือข้อมูลที่เป็นอันตรายต่าง ๆ (Harmful Data) ซึ่งเหตุดังกล่าวไม่ได้มีสาเหตุมาจากการที่ Meella
                ไม่ดูแลรักษาระบบคอมพิวเตอร์อย่างเพียงพอตามมาตรฐาน
            </p>
        </div>
        <div class="one-13">
            <p>1.13 “รายการการใช้บริการ” หมายความถึง คำสั่ง รายการ หรือธุรกรรมต่าง ๆ
                เกี่ยวกับการใช้บริการผ่านแพลตฟอร์ม รวมถึงแต่ไม่จำกัดเฉพาะ การลงทะเบียนและสร้างบัญชีผู้ใช้งาน
                การสั่งซื้อคูปองอาหาร การชำระเงิน
            </p>
        </div>
    </section>

    <section id="part-two">
        <h4>2. การใช้บริการและผูกพันผู้ใช้บริการ</h4>
        <div class="two-one">
            <p>2.1 ผู้ใช้บริการรับทราบว่า Meella เป็นผู้ให้บริการแพลตฟอร์มเท่านั้น
                ไม่ได้เป็นผู้จัดหาหรือให้บริการด้านอาหาร รวมทั้งไม่ได้ให้บริการขนส่ง
                หรือทำหน้าที่เป็นผู้ขนส่ง และไม่ได้ทำหน้าที่หรือเป็นตัวแทนของบุคคลใด นอกจากนี้ Meella
                ไม่ใช่คู่สัญญาในการสั่งอาหารระหว่างผู้ใช้บริการกับร้านค้า
            </p>
        </div>
        <div class="two-two">
            <p>2.2 ผู้ใช้บริการจะต้องใช้โทรศัพท์มือถือ และ/หรือ แท็บเล็ต และ/หรือ
                เครื่องมืออื่นใดที่มีคุณสมบัติและระบบปฏิบัติการตามที่ Meella กำหนดเพื่อทำรายการการใช้บริการ
            </p>
        </div>
        <div class="two-three">
            <p>2.3 ผู้ใช้บริการตกลงใช้บริการผ่านแพลตฟอร์มตามขั้นตอนและวิธีการที่ Meella กำหนด
                ทั้งนี้ผู้ใช้บริการจะต้องลงทะเบียนสร้างบัญชี เพื่อขอใช้แพลตฟอร์มก่อน
            </p>
        </div>
        <div class="two-four">
            <p>2.4 รายการการใช้บริการ และ/หรือ การดำเนินการใด ๆ ผ่านแพลตฟอร์มที่ทำขึ้น
                ให้ถือว่ามีผลใช้บังคับโดยถูกต้อง สมบูรณ์ ผูกพันผู้ใช้บริการ
                และเป็นการดำเนินการโดยชอบและใช้บังคับได้ตามกฎหมาย
                และถือเป็นหลักฐานแห่งธุรกรรมอิเล็กทรอนิกส์และสามารถใช้เป็นต้นฉบับ
                เพื่อเป็นพยานหลักฐานหรือใช้เป็นพยานหลักฐานในรูปแบบอื่นใดในกระบวนการพิจารณาใด ๆ
                ภายใต้บังคับแห่งกฎหมายได้ โดยที่
            </p>
            <div class="two-four-1">
                <p>2.4.1 Meella ไม่ต้องสอบถามไปยังผู้ใช้บริการ หรือตรวจสอบความถูกต้อง อำนาจ หรือตัวตนของผู้ใช้บริการ
                    รวมทั้งไม่ต้องตรวจสอบข้อมูล และ/หรือ รายละเอียดใด ๆ
                    ที่เกี่ยวข้องกับรายการการใช้บริการในครั้งนั้น ๆ ว่าถูกต้องครบถ้วนหรือไม่ และ
                </p>
            </div>
            <div class="two-four-2">
                <p>2.4.2 ผู้ใช้บริการ ไม่ต้องทำ และ/หรือ ลงนามในเอกสารอื่นใดอีก เว้นแต่ Meella
                    จะกำหนดไว้เป็นอย่างอื่นโดยชัดแจ้ง
                </p>
            </div>
        </div>
        <div class="two-five">
            <p>​​2.5 ในการสั่งซื้อคูปองอาหารแต่ละครั้ง ผู้ใช้บริการต้องตรวจสอบข้อมูลที่อยู่ร้านอาหาร รายการอาหาร
                ค่าอาหาร ส่วนลด (ถ้ามี) ข้อมูลอื่นใดในหน้าจอ และทำการยืนยันรายการ เมื่อผู้ใช้บริการยืนยันรายการแล้ว
                จะต้องชำระเงินผ่าน QR Code โดยไม่สามารถชำระเงินสด บัตรเครดิต บัตรเดบิต หรือชำระเงินปลายทางได้
                ทั้งนี้เมื่อผู้ใช้บริการทำรายการชำระเงินเสร็จเรียบร้อยแล้ว
                จะไม่สามารถเปลี่ยนแปลงรายการสั่งซื้อคูปองอาหารได้อีก
            </p>
        </div>
        <div class="two-six">
            <p>2.6 ผู้ใช้บริการรับทราบว่าแพลตฟอร์มไม่สามารถกดยกเลิกรายการสั่งอาหารได้ หากผู้ใช้บริการได้ยืนยันรายการ
                และ/หรือชำระเงินแล้ว จะไม่มีการยกเลิกรายการสั่งซื้อคูปองอาหารในทุกกรณี และ Meella
                จะไม่มีการคืนเงินค่าคูปองอาหารแต่อย่างใด
            </p>
        </div>
        <div class="two-seven">
            <p>2.7 กรณีที่มีข้อพิพาทเกี่ยวกับอาหาร รวมถึงแต่ไม่จำกัดเฉพาะ อาหารเป็นพิษ
                อาหารไม่ตรงกับคำสั่งซื้อคูปองอาหาร หรือโดยข้อพิพาทอื่นด้วยประการใด ๆ
                ผู้ใช้บริการตกลงรับผิดชอบในการเจรจาและระงับข้อพิพาทกับร้านค้าด้วยตนเอง โดยจะไม่เรียก Meella
                เข้าไปเป็นคู่ความหรือมีส่วนเกี่ยวข้อง
                กับข้อพิพาทดังกล่าว รวมถึงในความเสียหาย และ/หรือ เหตุอื่นใด อันเนื่องมาจากการให้บริการใด ๆ
                ของร้านค้า หรือบุคคลอื่นใดทั้งสิ้น
            </p>
        </div>
        <div class="two-eight">
            <p>2.8 Meella ไม่มีหน้าที่ให้ข้อมูลเกี่ยวกับส่วนประกอบหรือสารใด ๆ บนแพลตฟอร์ม นอกจากนี้ Meella
                ไม่รับประกันว่าอาหารที่จำหน่ายโดยร้านค้า
                จะปลอดจากสารใด ๆ หากผู้ใช้บริการแพ้อาหาร หรือมีข้อจำกัดด้านอาหาร
                ผู้ใช้บริการต้องทำการติดต่อร้านค้าโดยตรง
            </p>
        </div>
        <div class="two-nine">
            <p>2.9 ระยะเวลาที่ผู้ใช้บริการจะไปรับอาหารที่ร้านค้า
                ผู้ใช้บริการจะต้องไปรับภายในเวลาที่ปรากฎบนคูปองอาหาร หากไปรับภายหลังระยะเวลาที่ปรากฎบนคูปองอาหาร
                ถือว่าผู้ใช้บริการได้สละสิทธิ์ในการรับอาหารตามที่ปรากฏบนคูปองอาหารนั้นแล้ว และ Meella
                ไม่ต้องรับผิดชอบต่อผู้ใช้บริการแต่อย่างใด
            </p>
        </div>
        <div class="two-ten">
            <p>2.10 Meella ไม่คิดค่าบริการ ค่าใช้จ่าย และ/หรือ ค่าธรรมเนียมใด ๆ สำหรับการใช้แพลตฟอร์ม แต่หาก Meella
                จะคิดค่าบริการ ค่าใช้จ่าย และ/หรือ ค่าธรรมเนียมใด ๆ ผู้ใช้บริการ Meella ตกลงว่า Meella
                จะแจ้งให้ผู้ใช้บริการทราบล่วงหน้าอย่างน้อย 3 (สาม) วันก่อนมีการบังคับใช้
            </p>
        </div>
    </section>

    <section id="part-three">
        <h4>3. สิทธิในทรัพย์สินทางปัญญา</h4>
        <div class="p1">
            <p>ผู้ใช้บริการตกลงและยอมรับว่า แพลตฟอร์ม รวมถึงระบบอิเล็กทรอนิกส์
                และข้อมูลที่อยู่บนแพลตฟอร์มได้รับความคุ้มครองโดยกฎหมายลิขสิทธิ์ และ/หรือ กฎหมายใด ๆ
                เกี่ยวกับทรัพย์สินทางปัญญา ทั้งนี้ Meella ยังคงเป็นเจ้าของลิขสิทธิ์ ทรัพย์สินทางปัญญา สิทธิ และ/หรือ
                ผลประโยชน์ทั้งหลายทั้งปวงในแพลตฟอร์ม
            </p>
        </div>
        <div class="p2">
            <p>อนึ่ง การที่ผู้ใช้บริการได้รับสิทธิในการใช้แพลตฟอร์ม
                ไม่ถือเป็นการโอนกรรมสิทธิ์หรือสิทธิในความเป็นเจ้าของใด ๆ อันเกี่ยวกับบริการ และ/หรือแพลตฟอร์ม
                หรือทรัพย์สินทางปัญญาอื่นใดที่ Meella เป็นเจ้าของ และในกรณีมีการกระทำใด ๆ กับ แพลตฟอร์ม
                หรือมีการอ้างอิง หรือใช้ข้อมูลจากแพลตฟอร์มโดยมิได้รับอนุญาตหรือมิชอบด้วยกฎหมาย
                ผู้ใช้บริการตกลงรับผิดชอบต่อ Meella
            </p>
        </div>
    </section>

    <section id="part-four">
        <h4>4. ข้อตกลงทั่วไป</h4>
        <div class="four-1">
            <p>4.1
                ผู้ใช้บริการตกลงว่าจะไม่ใช้แพลตฟอร์มเพื่อวัตถุประสงค์อื่นใดนอกเหนือจากวัตถุประสงค์ของบริการนี้เท่านั้น
            </p>
        </div>
        <div class="four-2">
            <p>4.2 ผู้ใช้บริการจะไม่กระทำการใด ๆ เพื่อทำลายการเข้าแพลตฟอร์ม ลอกเลียน แก้ไข แยก
                วิศวกรรมย้อนกลับหรือเปลี่ยนแปลงแพลตฟอร์ม
                หรือใช้เทคโนโลยีอื่นใดเพื่อเข้าถึงแพลตฟอร์มเพื่อให้ได้มาซึ่งข้อมูลของ Meella
                นอกเหนือจากข้อกำหนดและเงื่อนไขนี้ รวมถึงไม่ยินยอมให้บุคคลอื่นกระทำการดังกล่าวด้วย
            </p>
        </div>
        <div class="four-3">
            <p>4.3 ในกรณีที่ส่วนใดส่วนหนึ่งของข้อกำหนดและเงื่อนไขนี้เป็นโมฆะ ไม่ชอบด้วยกฎหมาย
                ไม่มีผลบังคับใช้ได้ตามกฎหมาย หรือไม่สมบูรณ์ด้วยประการใด
                ผู้ใช้บริการตกลงให้ข้อกำหนดและเงื่อนไขส่วนอื่นซึ่งชอบด้วยกฎหมายยังคงมีผลสมบูรณ์และบังคับใช้ได้ตามกฎหมายต่อไป
            </p>
        </div>
        <div class="four-4">
            <p>4.4 ข้อกำหนดและเงื่อนไขฉบับนี้ มีผลใช้บังคับผูกพันผู้ใช้บริการตลอดระยะเวลา
            </p>
        </div>
    </section>


    <section id="part-five">
        <h4>5. การระงับการให้บริการชั่วคราวและการยกเลิกการให้บริการ</h4>
        <p>Meella มีสิทธิ์ในการระงับการให้บริการชั่วคราว และ/หรือ ยกเลิกการให้บริการ หากมีเหตุต่อไปนี้
        </p>
        <div class="five-1">
            <p>5.1 เพื่อการปรับปรุงหรือพัฒนาแพลตฟอร์ม หรือเหตุอื่นใดที่Meellaเห็นสมควร ตามระยะเวลาที่ Meella กำหนด
                โดยอาจเปลี่ยนแปลงวัน และ/หรือ เวลา และ/หรือ รายละเอียดในการให้บริการ และ/หรือ ประเภทบริการ
                เมื่อใดก็ได้ ทั้งนี้ ในการเปลี่ยนแปลงรายละเอียดการให้บริการ และ/หรือ ประเภทบริการ Meella
                จะแจ้งผู้ใช้บริการทราบเป็นคราว ๆ ไป หากท่านไม่ยินยอม Meella
                สงวนสิทธิ์เพียงฝ่ายเดียวในการระงับการให้บริการชั่วคราว หรือยกเลิกการให้บริการ
            </p>
        </div>
        <div class="five-2">
            <p>5.2 Meella มีสิทธิระงับการให้บริการชั่วคราวหรือยกเลิกบริการเมื่อใดก็ได้
                โดยจะแจ้งให้ผู้ใช้บริการทราบก่อนล่วงหน้า 7 (เจ็ด) วัน เว้นแต่กรณีใดต่อไปนี้ Meella
                มีสิทธิ์เพียงฝ่ายเดียวในการระงับหรือยกเลิกการให้บริการได้ทันที โดยไม่ต้องแจ้งล่วงหน้า
            </p>
            <div class="five-2-1">
                <p>5.2.1 ผู้ใช้บริการผิดคำรับรองหรือข้อกำหนดและเงื่อนไขนี้</p>
            </div>
            <div class="five-2-2">
                <p>5.2.2 ผู้ใช้บริการได้ให้ข้อมูลแก่Meellaไม่ถูกต้อง ครบถ้วน หรือไม่ตรงตามความเป็นจริง
                </p>
            </div>
            <div class="five-2-3">
                <p>5.2.3 ผู้ใช้บริการใช้ข้อความอันไม่สุภาพ หยาบคาย เข้าข่ายผิดกฎหมาย
                    หรือผิดจากวัตถุประสงค์ของบริการนี้
                </p>
            </div>
            <div class="five-2-4">
                <p>5.2.4 Meella มีเหตุอันควรเชื่อว่ามีพฤติการณ์น่าเชื่อว่ามีการใช้บริการที่อาจผิดกฎหมาย
                    หรือผิดกฎเกณฑ์ข้อบังคับใดที่ใช้กับธุรกรรมนั้น หรือโดยทุจริต หรือโดยมิชอบไม่ว่าด้วยประการใด ๆ
                    และไม่ว่าจะเป็นการกระทำของบุคคลใดก็ตาม
                </p>
            </div>
            <div class="five-2-5">
                <p>5.2.5 ผู้ใช้บริการกระทำการโดยจงใจ หรือประมาทเลินเล่อ ส่งผลให้มีการปล่อยไวรัสซอฟต์แวร์
                    หรือโปรแกรมรบกวนระบบอื่นใด เข้าสู่แพลตฟอร์ม หรือกระทำการใด ๆ
                    ที่ส่งผลให้บุคคลอื่นไม่สามารถใช้บริการใด ๆ ของ Meella ได้ตามปกติ
                </p>
            </div>
            <div class="five-2-6">
                <p>5.2.6 ผู้ใช้บริการเสียชีวิต หรือสาบสูญ หรือตกเป็นผู้ไร้ความสามารถ หรือเสมือนไร้ความสามารถ
                    หรือตกเป็นบุคคลล้มละลาย หรือถูกพิทักษ์ทรัพย์ หรือมีหนี้สินล้นพ้นตัว
                    โดยเหตุในข้อนี้ไม่คำนึงว่าเกิดขึ้นไม่ว่าชั่วคราวหรือถาวร
                </p>
            </div>
            <div class="five-2-7">
                <p>5.2.7 Meella ต้องปฏิบัติตามกฎหมาย กฎเกณฑ์ หรือคำสั่งของศาล พนักงานสอบสวน เจ้าหน้าที่รัฐ
                    หน่วยงานทางการ หรือหน่วยงานใด ๆ ที่มีอำนาจ
                </p>
            </div>
            <div class="five-2-8">
                <p>5.2.8 ความจำเป็นอื่นใดที่Meellaเห็นว่าไม่อาจแจ้งล่วงหน้าได้
                </p>
            </div>

        </div>
        <div class="p2">
            <p>การระงับการให้บริการชั่วคราว หรือการยกเลิกการให้บริการหรือการใช้บริการ
                ไม่ทำให้สิทธิและหน้าที่ทั้งหลายตามการใช้บริการ
                หรือรายการการใช้บริการที่มีผลบังคับแล้วนั้นสิ้นสุดลงโดยยังคงมีผลผูกพันผู้ใช้บริการและ Meella
                อย่างสมบูรณ์ต่อไป
                จนกว่าจะได้มีการดำเนินการดังกล่าวจนครบถ้วน
            </p>
        </div>
    </section>


    <section id="part-six">
        <h4>6. ข้อจำกัดความรับผิด</h4>
        <div class="six-1">
            <p>6.1 บรรดาการกระทำใด ๆ ที่ Meella ได้กระทำไปตามรายการการใช้บริการ และ/หรือ
                ตามข้อมูลที่ผู้ใช้บริการได้แจ้งต่อ Meella และ/หรือ ตามคำร้องขอของผู้ใช้บริการ และ/หรือ
                ตามข้อกำหนดและเงื่อนไขการใช้บริการใด ๆ ของ Meella
                ไม่ว่าที่มีอยู่แล้วในขณะนี้หรือที่จะมีขึ้นในภายหน้า ให้มีผลผูกพันผู้ใช้บริการทุกประการ และ Meella
                ไม่ต้องรับผิดชอบในความเสียหายใด ๆ อันเกิดขึ้นแก่ผู้ใช้บริการอันเนื่องมาจากการใช้บริการของ Meella
                เว้นแต่เป็นความจงใจหรือประมาทเลินเล่อของ Meella เอง
            </p>
        </div>
        <div class="six-2">
            <p>6.2 ผู้ใช้บริการตกลงและยอมรับว่า Meella ไม่ต้องรับผิดชอบในความผิดพลาด ความบกพร่อง
                หรือเหตุขัดข้องในการใช้บริการ อันเนื่องมาจากความจงใจหรือประมาทเลินเล่อของผู้ใช้บริการเอง
                หรือเหตุสุดวิสัย หรือเหตุอื่นใดที่อยู่นอกเหนือการควบคุมของ Meella นอกจากนี้ Meella
                จะไม่รับผิดชอบสำหรับความเสียหายที่เกิดโดยทางอ้อม รวมถึงการสูญเสียรายได้จากการใช้งาน ผลกำไร ข้อมูล
                ธุรกิจ
            </p>
        </div>
        <div class="six-3">
            <p>6.3 กรณีที่ Meella จะต้องชำระค่าเสียหายใด ๆ ให้แก่ผู้ใช้บริการ Meella
                จะชำระตามความเสียหายที่เกิดขึ้นจริง
                แต่จำกัดความรับผิดสูงสุดไม่เกินมูลค่าคูปองอาหารที่ผู้ใช้บริการชำระสำหรับรายการอาหารนั้น ๆ
            </p>
        </div>
        <div class="six-4">
            <p>6.4 หากเกิดความเสียหายใด ๆ แก่ Meella อันเนื่องมาจากการให้บริการตามข้อกำหนดและเงื่อนไขนี้
                ผู้ใช้บริการตกลงยินยอมรับผิดชอบชดใช้ค่าเสียหายต่าง ๆ ที่เกิดขึ้นทั้งหมดให้แก่ Meella
            </p>
        </div>
    </section>

    <section id="part-seven">
        <h4>7. การเก็บรวบรวม ใช้ และเปิดเผยข้อมูล/การคุ้มครองข้อมูลส่วนบุคคล</h4>
        <p>ผู้ใช้บริการตกลงและยินยอมให้ Meella เก็บรวบรวม ใช้ ประมวลผล
            และเปิดเผยข้อมูลส่วนบุคคลของผู้ใช้บริการตามที่ระบุในประกาศนโยบายความเป็นส่วนตัว
            โดยผู้ใช้บริการสามารถอ่านประกาศนโยบายความเป็นส่วนตัวของ Meella ได้จากลิงก์บนแพลตฟอร์ม</p>
    </section>

    <section id="part-eight">
        <h4>8. การปฏิบัติตามระเบียบ คู่มือ ข้อกำหนดและเอกสารเกี่ยวกับการใช้บริการ
        </h4>
        <div class="eight-1">
            <p>8.1 ผู้ใช้บริการตกลงจะปฏิบัติตามระเบียบ คู่มือ ข้อกำหนดและเอกสารเกี่ยวกับการใช้บริการของ Meella
                ซึ่งผู้ใช้บริการได้รับทราบแล้ว รวมทั้งตามที่ Meella จะกำหนดเพิ่มเติม แก้ไข หรือเปลี่ยนแปลงในภายหน้า
            </p>
        </div>
        <div class="eight-2">
            <p>8.2 ผู้ใช้บริการตกลงว่าการที่ Meella
                นำข้อกำหนดและเงื่อนไขการใช้บริการและการแจ้งเนื้อหาของข้อกำหนดฉบับแก้ไขรวมถึงวันที่มีผลบังคับใช้ในอนาคต
                ประกาศไว้บนแพลตฟอร์ม และ/หรือเว็บไซต์ของ Meella หรือเว็บไซต์อื่นที่ Meella
                จะได้กำหนดหรือเปลี่ยนแปลงในภายหน้า (ถ้ามี) นั้น เป็นวิธีการที่เหมาะสมและยอมรับได้
            </p>
        </div>
        <div class="eight-3">
            <p>8.3 ผู้ใช้บริการตกลงว่าในทุกครั้งที่มีการเข้าใช้บริการหรือทำรายการผ่านแพลตฟอร์ม
                ผู้ใช้บริการได้ยอมรับข้อกำหนดและเงื่อนไขการใช้บริการแล้ว
            </p>
        </div>
    </section>


    <section id="part-nine">
        <h4>9. การส่งคำบอกกล่าว</h4>
        <div class="nine-1">
            <p>9.1 คําบอกกล่าว เอกสาร หนังสือ หรือข้อมูลใด ๆ ที่ Meella ได้ส่งไปยังผู้ใช้บริการตามที่อยู่
                หมายเลขโทรศัพท์ อีเมล ตามที่ผู้ใช้บริการได้ให้ไว้กับ Meella หรือตามที่ Meella ได้รับแจ้งแก้ไข
                เปลี่ยนแปลงแล้ว ทางไปรษณีย์ ข้อความ SMS หรืออีเมล หรือการสื่อสารทางอิเล็กทรอนิกส์อื่นใด
                ให้ถือว่าได้ส่งให้ผู้ใช้บริการแล้วโดยชอบด้วยกฎหมาย ถูกต้อง และผู้ใช้บริการได้ทราบถึงคําบอกกล่าว
                เอกสาร หนังสือ หรือข้อมูลนั้น ๆ แล้ว
            </p>
        </div>
        <div class="nine-2">
            <p>9.2 ผู้ใช้บริการสามารถส่งคําบอกกล่าว เอกสาร หนังสือ หรือข้อมูลใด ๆ ให้ Meella ตามที่อยู่ดังต่อไปนี้
            </p>
            <div class="nine-2-1">
                <p>(ก) Meellabusiness@gmail.com
                </p>
            </div>
            <div class="nine-2-2">
                <p>(ข) ช่องทางติดต่ออื่นที่ Meella ได้ให้ไว้
                </p>
            </div>
        </div>
        <div class="nine-3">
            <p>9.3 คําบอกกล่าว เอกสาร หนังสือ หรือข้อมูลใด ๆ ที่ Meella ได้รับจากผู้ใช้บริการให้ถือว่าเป็น
                คําบอกกล่าว เอกสาร หนังสือ หรือข้อมูลของผู้ใช้บริการที่ถูกต้องแท้จริง
                เป็นไปตามความประสงค์โดยถูกต้องของผู้ใช้บริการและมีผลผูกพันผู้ใช้บริการทุกประการ
            </p>
        </div>
    </section>

    <section id="part-ten">
        <h4>10. กฎหมายที่ใช้บังคับ
        </h4>
        <p>ข้อกำหนดและเงื่อนไขฉบับนี้ และการใช้บริการต่าง ๆ บนแพลตฟอร์มนี้อยู่ในบังคับ ให้ตีความตามกฎหมายไทย
            ข้อพิพาทที่เกิดขึ้นหรือมีความเกี่ยวพันกับการใช้บริการบนแพลตฟอร์ม อยู่ภายใต้เขตอำนาจการพิจารณาของศาลไทย
        </p>
    </section>
    <!--tab-->
    <nav class="sidebar close" id="navID">
        <button type="button" class="toggle" onclick="myFnc(this)" id="toggle-button"><span>Index</span>
            <img src="/img/Group.png" alt="arrow"></button>
        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#part-one">
                            <span class="text nav-text">1. คำนิยาม</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-two">
                            <span class="text nav-text">2. การใช้บริการและผูกพันผู้ใช้บริการ</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-three">
                            <span class="text nav-text">3. สิทธิในทรัพย์สินทางปัญญา</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-four">
                            <span class="text nav-text">4. ข้อตกลงทั่วไป
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-five">
                            <span class="text nav-text">5. การระงับการให้บริการชั่วคราวและ<br>
                                การยกเลิกการให้บริการ</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-six">
                            <span class="text nav-text">6. ข้อจำกัดความรับผิด
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-seven">
                            <span class="text nav-text">7. การเก็บรวบรวม ใช้ และเปิดเผยข้อมูล/<br>
                                การคุ้มครองข้อมูลส่วนบุคคล
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-eight">
                            <span class="text nav-text">8. การปฏิบัติตามระเบียบ คู่มือ<br>
                                ข้อกำหนดและเอกสารเกี่ยวกับการใช้บริการ
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-nine">
                            <span class="text nav-text">9. การส่งคำบอกกล่าว
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#part-ten">
                            <span class="text nav-text">10. กฎหมายที่ใช้บังคับ
                            </span>
                        </a>
                    </li>
                </ul>
            </div>


        </div>

    </nav>


</body>
<script src="/js/UserT&C.js"></script>

</html>