<footer>
    <div class="container-footer" style="background-color: #f9b609">
        <div style="margin: 30px; text-align: center; "><img src="/img/Aiesec-logo.png" alt="Aiesec logo"></div>
        <hr width="100%" color="#231e41" size="50px" />
        <div class="sb-footer-frame">
            <div class="ft-link">
                <ul class="footer-list mb-sm-5 mb-md-0">
                    <h5 class="widget-title">OUR STORY</h5>
                    <li><a href="#">Partner</a></li>
                    <li><a href="#">About Meella</a></li>
                    <li><a href="#" style="margin-bottom: 20px;">Sustainability Journey</a></li>
                </ul>
            </div>
            <div class="ft-link">
                <ul class="footer-list mb-sm-5 mb-md-0">
                    <h5 class="widget-title">SHOP</h5>
                    <li><a href="#" style="margin-bottom: 20px;">View Shop</a></li>
                </ul>
            </div>
            <div class="ft-link">
                <ul class="footer-list mb-sm-5 mb-md-0">
                    <h5 class="widget-title">MY ACCOUNT</h5>
                    <li><a href="#">My Profile</a></li>
                    <li><a href="#">My Coupon</a></li>
                    <li><a href="#" style="margin-bottom: 20px;">Order History</a></li>
                </ul>
            </div>
            <div class="ft-link">
                <ul class="footer-list mb-sm-5 mb-md-0">
                    <h5 class="widget-title">HELP</h5>
                    <li><a href="#">FAQS</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="sb-footer-3">
                <div>
                    <ul class="tp-list">
                        <li>
                            <a href="#">Term & Condition</a> &nbsp;
                            <a href="#" style="margin-left: 40px">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="mobile-social-icon sb-footer-3">
                        <li>
                            <a href="/"><img src="/icon/social/facebook-black.png" alt="" /></a>
                        </li>
                        <li>
                            <a href="/" style="margin-left: 15px"><img src="/icon/social/instagram-black.png"
                                    alt="" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->