<footer class="footer">
    <img src="/img/AIESEC.png" class="AIESEC">
    <box class="taskbar_box">
        <box class="first_taskbar">
            <our_story>เรื่องราวของเรา</our_story>
            <partner>หุ้นส่วน</partner>
            <about_eatmi>เกี่ยวกับ Eatmi</about_eatmi>
            <sustain>เส้นทางแห่งความยั่งยืน</sustain>
        </box>
        <box class="second_taskbar">
            <shop>ร้านค้า</shop>
            <view_shop>ดูร้านค้า</view_shop>
        </box>
        <box class="third_taskbar">
            <my_account>บัญชีของฉัน</my_account>
            <my_profile>โปรไฟล์ของฉัน</my_profile>
            <my_coupon>คูปองของฉัน</my_coupon>
            <order_history>ประวัติการสั่งซื้อ</order_history>
        </box>
        <box class="last_taskbar">
            <help>ความช่วยเหลือ</help>
            <FAQS>FAQS</FAQS>
        </box>
    </box>
    <div class="line"></div>
    <term_condition>ข้อกำหนดและเงื่อนไข</term_condition>
    <privacy_policy>นโยบายความเป็นส่วนตัว</privacy_policy>
    <a href="https://www.facebook.com/Eatmiofficial-104472018763586" target="_blank">
        <img src="/icon/fb.png" class="fb">
    </a>
    <a href="https://www.instagram.com/eatmi.official/?hl=th" target="_blank">
        <img src="/icon/ig.png" class="ig">            
    </a>
</footer>