<!-- click effect -->
<div class="sb-click-effect"></div>
<!-- loader -->
<div class="sb-load"></div>
<!-- top bar -->
<div class="sb-top-bar-frame">
    <div class="sb-top-bar-bg"></div>
    <div>
        <div class="sb-top-bar">
            <a href="/" class="sb-logo-frame">
                <!-- logo img -->
                <img src="/icon/meella-logo.png" alt="Starbelly" />
            </a>
            <!-- menu -->
            <div class="sb-right-side">
                <nav id="sb-dynamic-menu" class="sb-menu-transition">
                    <ul class="sb-navigation">
                        <li class="sb-active">
                            <a href="/search">Shop</a>
                        </li>
                        <li class="sb-has-children">
                            <a href=".html">My Account</a>
                            <ul>
                                <li><a href="/user/profile">My Profile</a></li>
                                <li><a href="#.html">My Coupon</a></li>
                                <li><a href="#.html">Order History</a></li>
                            </ul>
                        </li>
                        <li class="sb-has-children">
                            <a href="#.html">Our Story</a>
                            <ul>
                                <li><a href="/about-us">About Meella</a></li>
                                <li><a href="/about-us">Sustainability Journey</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="sb-buttons-frame">
                    <!-- button -->
                    <div class="sb-btn sb-btn-2 sb-btn-gray sb-btn-icon sb-m-0 sb-btn-cart">
                        <span class="sb-icon" href="#.html">
                            <img src="/icon/cart.svg" alt="icon" />
                        </span>
                        <i class="sb-cart-number">5</i>
                    </div>
                    <!-- button end -->
                    <!-- Sign up button -->
                    <div class="bright-btn" style="
                    text-align: center;
                    vertical-align: middle;
                    color: #f9b609;
                    font-weight: bold;
                    margin-left: 20px;
                  "><a href="/sign-in" style="font-size: 18px;"><span>Sign in /</span></a>&nbsp;<a href="/sign-up-"
                            style="font-size: 18px;"><span>Sign up</span></a>
                    </div>
                    <!-- Sign up button end -->
                    <!-- Select Language -->
                    <div class="sb-navigation se-lang">
                        <a href="#.html" style="margin-left: 20px">EN</a> &nbsp;
                        <a>/</a> &nbsp; <a href="#.html">TH</a>
                    </div>
                    <!-- Select Language end -->
                    <!-- menu btn -->
                    <div class="sb-menu-btn"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- top bar end -->