<% BestSellerFunc.forEach((topSalesList, idx)=> { %>

    <tr>
        <td>
            <%- topSalesList.productName %>
        </td>
        <td>
            <%- topSalesList.numberSold %>
        </td>
    </tr>
    <% }) %>