<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/landing.css"> <!--  -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <title>Welcome to EATMI</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />


    <%- include('common/common-starter', {}); %>
</head>

<body>
    <div class="sb-app">
        <%- include('common/header-en', {}); %>
            <!-- dynamic content -->
            <div id="sb-dynamic-content" class="sb-transition-fade">

                <!-- space below the bar -->
                <!-- INSERT CODE HERE -->

            </div>
    </div>
    <%- include('common/footer-en', {}); %>
        <%- include('common/common-ender', {}); %>


</body>

</html>